<footer id="footer-main">
    <div class="footer footer-dark bg-gradient-primary footer-rotate">
        <div class="container">
            <div class="row pt-md">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <a href="index.html">
                        <img src="assets/img/brand/white.png" alt="Footer logo" style="height: 70px;">
                    </a>
                    <p>Purpose is a unique and beautiful collection of UI elements that are all flexible and modular. A
                        complete and customizable solution to building the website of your dreams.</p>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                    <h6 class="heading mb-3">Account</h6>
                    <ul class="list-unstyled">
                        <li><a href="pages/account-profile.html">Profile</a></li>
                        <li><a href="pages/account-settings.html">Settings</a></li>
                        <li><a href="pages/account-billing.html">Billing</a></li>
                        <li><a href="pages/account-notifications.html">Notifications</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">About</h6>
                    <ul class="list-unstyled text-small">
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">Company</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
                <div class="col-md-6">
                    <div class="copyright text-sm font-weight-bold text-center text-md-left">
                        &copy; 2018-2019 <a href="https://webpixels.io" class="font-weight-bold" target="_blank">Webpixels</a>.
                        All rights reserved.
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="https://dribbble.com/webpixels" target="_blank">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.instagram.com/webpixelsofficial" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/webpixels" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/webpixels" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="customizer">
    <a href="#modal-customizer" class="btn btn-warning btn-lg btn-icon-only rounded-circle text-white hover-scale-110 shadow-lg mr-3"
        data-toggle="modal">
        <span class="btn-inner--icon"><i class="far fa-palette"></i></span>
    </a>
    <a href="docs/support.html" class="btn btn-lg btn-white btn-icon-only rounded-circle hover-scale-110 shadow-lg mr-3 d-none d-lg-inline-block">
        <span class="btn-inner--icon"><i class="far fa-question"></i></span>
    </a>
    <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="btn btn-lg btn-white btn-icon-only rounded-circle hover-scale-110 shadow-lg d-none d-lg-inline-block">
        <span class="btn-inner--icon"><i class="far fa-shopping-basket"></i></span>
    </a>
</div>
<!-- Customizer modal -->
<div class="modal fade fixed-right" id="modal-customizer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-vertical" role="document">
        <form class="modal-content" id="form-customizer">
            <div class="modal-body">
                <!-- Close -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip"
                    data-placement="left" title="Close Customizer">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center mx-auto mt-4 mb-5" style="width: 80px;">
                    <img alt="Image placeholder" src="assets/img/icons/essential/detailed/Click.svg" class="svg-inject img-fluid">
                </div>
                <h5 class="text-center mb-2">Choose (your) Purpose</h5>
                <p class="text-center mb-4">
                    Customize your preview experience by selecting skin colors and modes.
                </p>
                <hr class="mb-4">
                <!-- Skin color -->
                <h6 class="mb-1">Skin color</h6>
                <p class="small text-muted mb-3">
                    Set a new theme color palette.
                </p>
                <div class="btn-group-toggle row mx-0 mb-5" data-toggle="buttons">
                    <label class="btn btn-sm btn-neutral active col mb-2">
                        <input type="radio" name="skin" value="default" checked>
                        Default
                    </label>
                    <label class="btn btn-sm btn-neutral col-6 mb-2 mr-0">
                        <input type="radio" name="skin" value="blue">
                        Blue
                    </label>
                    <!-- <label class="btn btn-sm btn-neutral col mb-2">
                            <input type="radio" name="skin" value="blue">
                            Blue
                        </label>
                        <label class="btn btn-sm btn-neutral col-6 mb-2 mr-0">
                            <input type="radio" name="skin" value="red">
                            Red
                        </label> -->
                </div>
                <!-- Skin mode -->
                <h6 class="mb-1">Skin mode</h6>
                <p class="small text-muted mb-3">
                    Set the theme's mode: light or dark.
                </p>
                <div class="btn-group-toggle row mx-0 mb-4" data-toggle="buttons">
                    <label class="btn btn-sm btn-neutral active flex-fill mb-2 mr-2">
                        <input type="radio" name="mode" value="light" checked>
                        <i class="far fa-sun mr-2"></i> Light
                    </label>
                    <label class="btn btn-sm btn-neutral flex-fill mb-2 mr-2">
                        <input type="radio" name="mode" value="dark">
                        <i class="far fa-moon mr-2"></i> Dark
                    </label>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="submit" class="btn btn-block btn-primary mt-auto">
                    Preview
                </button>
            </div>
        </form>
    </div>
</div>