<div class="main-content">
    <!-- Header (v1) -->
    <section class="header-1 section-rotate bg-section-secondary" data-offset-top="#header-main">
        <div class="section-inner bg-gradient-primary"></div>
        <!-- SVG illustration -->
        <div class="pt-7 position-absolute middle right-0 col-lg-7 col-xl-6 d-none d-lg-block">
            <figure class="w-100" style="max-width: 1000px;">
                <img alt="Image placeholder" src="assets/img/svg/illustrations/work-chat.svg" class="svg-inject img-fluid"
                    style="height: 1000px;">
            </figure>
        </div>
        <!-- SVG background -->
        <div class="bg-absolute-cover bg-size--contain d-flex align-items-center">
            <figure class="w-100 d-none d-lg-block">
                <img alt="Image placeholder" src="assets/img/svg/backgrounds/bg-4.svg" class="svg-inject" style="height: 1000px;">
            </figure>
        </div>
        <!-- Hero container -->
        <div class="container py-5 pt-lg-6 d-flex align-items-center position-relative zindex-100">
            <div class="col">
                <div class="row">
                    <div class="col-lg-5 col-xl-6 text-center text-lg-left">
                        <div class="d-none d-lg-block mb-4">
                            <div class="alert alert-modern alert-dark">
                                <span class="badge badge-danger badge-pill">
                                    Hot
                                </span>
                                <span class="alert-content">Dark mode, awesome shortcode library and more.</span>
                            </div>
                        </div>
                        <div>
                            <h2 class="text-white mb-4">
                                <span class="display-4 font-weight-light">See it. Love it</span>
                                <span class="d-block">Purpose <strong class="font-weight-light">Website UI Kit</strong></span>
                            </h2>
                            <p class="lead text-white">A unique and beautiful collection of UI elements that are all
                                flexible and modular. A complete and customizable solution to building the website of
                                your dreams.</p>
                            <div class="mt-5">
                                <a href="#sct-page-examples" class="btn btn-white rounded-pill hover-translate-y-n3 btn-icon mr-sm-4 scroll-me">
                                    <span class="btn-inner--text">Page Examples</span>
                                    <span class="btn-inner--icon"><i class="far fa-angle-right"></i></span>
                                </a>
                                <a href="#sct-features" class="btn btn-outline-white rounded-pill hover-translate-y-n3 btn-icon d-none d-xl-inline-block scroll-me">
                                    <span class="btn-inner--icon"><i class="far fa-file-alt"></i></span>
                                    <span class="btn-inner--text">More Features</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features (v1) -->
    <section id="sct-page-examples" class="slice bg-section-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="card text-center hover-shadow-lg hover-translate-y-n10">
                        <div class="px-4 py-5">
                            <img alt="Image placeholder" src="assets/img/icons/essential/detailed/Code_2.svg" class="svg-inject"
                                style="height: 70px;">
                        </div>
                        <div class="px-4 pb-5">
                            <h5>Landing Pages</h5>
                            <p class="text-muted">Impress with these beautiful landing pages.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card text-center hover-shadow-lg hover-translate-y-n10">
                        <div class="px-4 py-5">
                            <img alt="Image placeholder" src="assets/img/icons/essential/detailed/Code.svg" class="svg-inject"
                                style="height: 70px;">
                        </div>
                        <div class="px-4 pb-5">
                            <h5>Secondary Pages</h5>
                            <p class="text-muted">Awesome collection of pages for any scenario.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card text-center hover-shadow-lg hover-translate-y-n10">
                        <div class="px-4 py-5">
                            <img alt="Image placeholder" src="assets/img/icons/essential/detailed/Secure_Files.svg"
                                class="svg-inject" style="height: 70px;">
                        </div>
                        <div class="px-4 pb-5">
                            <h5>Authentication</h5>
                            <p class="text-muted">Provide users good looking forms that inspire trust.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card text-center hover-shadow-lg hover-translate-y-n10">
                        <div class="px-4 py-5">
                            <img alt="Image placeholder" src="assets/img/icons/essential/detailed/Task.svg" class="svg-inject"
                                style="height: 70px;">
                        </div>
                        <div class="px-4 pb-5">
                            <h5>Account Pages</h5>
                            <p class="text-muted">Profile and account managemend made cool.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card text-center hover-shadow-lg hover-translate-y-n10">
                        <div class="px-4 py-5">
                            <img alt="Image placeholder" src="assets/img/icons/essential/detailed/Cart_Add_2.svg" class="svg-inject"
                                style="height: 70px;">
                        </div>
                        <div class="px-4 pb-5">
                            <h5>Shop Pages</h5>
                            <p class="text-muted">Complete front-end flow for e-commerce website.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card text-center hover-shadow-lg hover-translate-y-n10">
                        <div class="px-4 py-5">
                            <img alt="Image placeholder" src="assets/img/icons/essential/detailed/Cog_Wheels.svg" class="svg-inject"
                                style="height: 70px;">
                        </div>
                        <div class="px-4 pb-5">
                            <h5>Utility Pages</h5>
                            <p class="text-muted">Error pages and everything else can be found here.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fluid-paragraph text-center mt-5">
            <p>
                <strong class="text-primary">*Good to know!</strong> You are not limited to the examples we've built.
                We have the liberty to choose any of the page layouts and components from the package and create your
                own version.
            </p>
        </div>
    </section>
    <!-- Features (v2) -->
    <section class="slice slice-lg">
        <div class="container">
            <div class="row row-grid justify-content-around align-items-center">
                <div class="col-lg-5 order-lg-2">
                    <div class=" pr-lg-4">
                        <h5 class=" h3">Change the way you build wesites. Forever.</h5>
                        <p class="lead mt-4 mb-5">With Purpose you get components and examples, including tons of
                            variables that will help you customize this theme with ease.</p><a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/"
                            class="link link-underline-primary">Purchase now</a>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <img alt="Image placeholder" src="assets/img/theme/light/presentation-1.png" class="img-fluid img-center">
                </div>
            </div>
        </div>
    </section>
    <!-- Features (v3) -->
    <section class="slice slice-lg">
        <div class="container">
            <div class="row row-grid justify-content-around align-items-center">
                <div class="col-lg-5">
                    <div class="">
                        <h5 class=" h3">A complete solution for developers &amp; designers</h5>
                        <p class="lead my-4">With Purpose you get components and examples, including tons of variables
                            that will help you customize this theme with ease.</p>
                        <ul class="list-unstyled">
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-shape icon-primary icon-sm rounded-circle mr-3">
                                            <i class="far fa-store-alt"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="h6 mb-0">Perfect for modern startups</span>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-shape icon-warning icon-sm rounded-circle mr-3">
                                            <i class="far fa-palette"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="h6 mb-0">Built with customization and ease-of-use at its core</span>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-shape icon-success icon-sm rounded-circle mr-3">
                                            <i class="far fa-cog"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="h6 mb-0">Quality design and thoughfully crafted code</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img alt="Image placeholder" src="assets/img/theme/light/presentation-2.png" class="img-fluid img-center">
                </div>
            </div>
        </div>
    </section>
    <!-- Features (v4) -->
    <section class="slice slice-lg bg-section-secondary overflow-hidden">
        <div class="bg-absolute-cover bg-size--contain d-flex align-items-center">
            <figure class="w-100">
                <img alt="Image placeholder" src="assets/img/svg/backgrounds/bg-2.svg" class="svg-inject" style="height: 1000px;">
            </figure>
        </div>
        <div class="container position-relative zindex-100">
            <div class="mb-5 px-3 text-center">
                <span class="badge badge-soft-success badge-pill badge-lg">
                    Build tools
                </span>
                <h3 class=" mt-4">Built for awesomeness</h3>
                <div class="fluid-paragraph mt-3">
                    <p class="lead lh-180">We use the latest technologies and tools in order to create a better code
                        that not only works great, but it is easy easy to work with too.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card px-3">
                        <div class="card-body py-5">
                            <div class="d-flex align-items-center">
                                <div class="icon bg-gradient-primary text-white rounded-circle icon-shape shadow-primary">
                                    <i class="fab fa-html5"></i>
                                </div>
                                <div class="icon-text pl-4">
                                    <h5 class="mb-0">Created with the latest technologies</h5>
                                </div>
                            </div>
                            <p class="mt-4 mb-0">We use the latest technologies and tools in order to create a better
                                code that not only works great, but it is easy easy to work with too.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card px-3">
                        <div class="card-body py-5">
                            <div class="d-flex align-items-center">
                                <div class="icon bg-gradient-warning text-white rounded-circle icon-shape shadow-warning">
                                    <i class="fab fa-node-js"></i>
                                </div>
                                <div class="icon-text pl-4">
                                    <h5 class="mb-0">Built by developers for developers</h5>
                                </div>
                            </div>
                            <p class="mt-4 mb-0">You don't only need a theme, but also great tools in order to ease the
                                process or building and customizing. And this is exactly what we offer you.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card px-3">
                        <div class="card-body py-5">
                            <div class="d-flex align-items-center">
                                <div class="icon bg-gradient-info text-white rounded-circle icon-shape shadow-info">
                                    <i class="far fa-thumbs-up"></i>
                                </div>
                                <div class="icon-text pl-4">
                                    <h5 class="mb-0">Made for great first impressions</h5>
                                </div>
                            </div>
                            <p class="mt-4 mb-0">is lighter and faster than most of the themes out there which means
                                you get more for less. Check out the components and examples pages.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features (v5) -->
    <section class="slice slice-xl has-floating-items bg-gradient-primary" id=sct-call-to-action><a href="#sct-call-to-action"
            class="tongue tongue-up tongue-section-secondary" data-scroll-to>
            <i class="far fa-angle-up"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-white">Complete features at your hand</h1>
                    <div class="row justify-content-center mt-4">
                        <div class="col-lg-8">
                            <p class="lead text-white">
                                Purpose is a great premium UI package including all the important and needed features
                                so you can jumpstart the hard work and get right to the website creation fast and easy
                                with more than 100 customized Bootstrap components and 15+ integrated plugins.
                            </p>
                            <div class="btn-container mt-5">
                                <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" class="btn btn-dark rounded-pill btn-icon hover-translate-y-n3 mb-4 mb-md-0">
                                    <span class="btn-inner--icon">
                                        <i class="far fa-shopping-basket"></i>
                                    </span>
                                    <span class="btn-inner--text">Purchase now</span>
                                </a>
                                <a href="docs/index.html" class="btn btn-white rounded-pill btn-icon hover-translate-y-n3">
                                    <span class="btn-inner--icon">
                                        <i class="far fa-book"></i>
                                    </span>
                                    <span class="btn-inner--text">Read the Docs</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container floating-items">
            <div class="icon-floating bg-white floating">
                <span></span>
                <img alt="Image placeholder" src="assets/img/icons/essential/detailed/Apps.svg" class="svg-inject">
            </div>
            <div class="icon-floating icon-lg bg-white floating">
                <span></span>
                <img alt="Image placeholder" src="assets/img/icons/essential/detailed/Apple.svg" class="svg-inject">
            </div>
            <div class="icon-floating icon-sm bg-white floating">
                <span></span>
                <img alt="Image placeholder" src="assets/img/icons/essential/detailed/Ballance.svg" class="svg-inject">
            </div>
            <div class="icon-floating icon-lg bg-white floating">
                <span></span>
                <img alt="Image placeholder" src="assets/img/icons/essential/detailed/Book.svg" class="svg-inject">
            </div>
            <div class="icon-floating bg-white floating">
                <span></span>
                <img alt="Image placeholder" src="assets/img/icons/essential/detailed/Chat.svg" class="svg-inject">
            </div>
            <div class="icon-floating icon-sm bg-white floating">
                <span></span>
                <img alt="Image placeholder" src="assets/img/icons/essential/detailed/Coffee.svg" class="svg-inject">
            </div>
        </div>
    </section>
    <!-- Testimonials (v1) -->
    <section class="slice slice-lg bg-section-secondary">
        <div class="container">
            <div class="mb-5 text-center">
                <h3 class=" mt-4">What our customers say</h3>
                <div class="fluid-paragraph mt-3">
                    <p class="lead lh-180">Start building fast, beautiful and modern looking websites in no time using
                        our theme.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-11">
                    <div class="swiper-js-container overflow-hidden">
                        <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0"
                            data-swiper-sm-items="2" data-swiper-xl-items="3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide p-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <img alt="Image placeholder" src="assets/img/theme/light/team-1-800x800.jpg"
                                                        class="avatar  rounded-circle">
                                                </div>
                                                <div class="pl-3">
                                                    <h5 class="h6 mb-0">Heather Wright</h5>
                                                    <small class="d-block text-muted">Google</small>
                                                </div>
                                            </div>
                                            <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful
                                                design, and really not hard to work with.Highly recommended for any
                                                kind on website.</p>
                                            <span class="static-rating static-rating-sm">
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide p-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <img alt="Image placeholder" src="assets/img/theme/light/team-2-800x800.jpg"
                                                        class="avatar  rounded-circle">
                                                </div>
                                                <div class="pl-3">
                                                    <h5 class="h6 mb-0">Monroe Parker</h5>
                                                    <small class="d-block text-muted">Apple</small>
                                                </div>
                                            </div>
                                            <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful
                                                design, and really not hard to work with.Highly recommended for any
                                                kind on website.</p>
                                            <span class="static-rating static-rating-sm">
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide p-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <img alt="Image placeholder" src="assets/img/theme/light/team-3-800x800.jpg"
                                                        class="avatar  rounded-circle">
                                                </div>
                                                <div class="pl-3">
                                                    <h5 class="h6 mb-0">John Sullivan</h5>
                                                    <small class="d-block text-muted">Amazon</small>
                                                </div>
                                            </div>
                                            <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful
                                                design, and really not hard to work with.Highly recommended for any
                                                kind on website.</p>
                                            <span class="static-rating static-rating-sm">
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide p-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <img alt="Image placeholder" src="assets/img/theme/light/team-4-800x800.jpg"
                                                        class="avatar  rounded-circle">
                                                </div>
                                                <div class="pl-3">
                                                    <h5 class="h6 mb-0">James Lewis</h5>
                                                    <small class="d-block text-muted">Google</small>
                                                </div>
                                            </div>
                                            <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful
                                                design, and really not hard to work with.Highly recommended for any
                                                kind on website.</p>
                                            <span class="static-rating static-rating-sm">
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide p-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <img alt="Image placeholder" src="assets/img/theme/light/team-5-800x800.jpg"
                                                        class="avatar  rounded-circle">
                                                </div>
                                                <div class="pl-3">
                                                    <h5 class="h6 mb-0">Julia Howe</h5>
                                                    <small class="d-block text-muted">Google</small>
                                                </div>
                                            </div>
                                            <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful
                                                design, and really not hard to work with.Highly recommended for any
                                                kind on website.</p>
                                            <span class="static-rating static-rating-sm">
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                                <i class="star fas fa-star voted"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination w-100 mt-4 d-flex align-items-center justify-content-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features (v7) -->
    <section class="slice slice-lg">
        <div class="container">
            <div class="mb-5 text-center">
                <h3 class=" mt-4">Really useful features</h3>
                <div class="fluid-paragraph mt-3">
                    <p class="lead lh-180">You get all Bootstrap components fully customized. Besides, you receive
                        another numerous plugins out of the box and ready to use.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4">
                        <div class="py-5">
                            <div class="icon text-primary">
                                <i class="fab fa-twitter"></i>
                            </div>
                        </div>
                        <h5 class="">Latest Bootstrap</h5>
                        <p class=" mt-2 mb-0">A responsive and mobile-first theme built with the world's most popular
                            component library.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4">
                        <div class="py-5">
                            <div class="icon text-primary">
                                <i class="fab fa-sass"></i>
                            </div>
                        </div>
                        <h5 class="">Built with Sass</h5>
                        <p class=" mt-2 mb-0">Change one variable and the theme adapts. Colors, fonts, sizes ... you
                            name it.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4">
                        <div class="py-5">
                            <div class="icon text-primary">
                                <i class="far fa-layer-group"></i>
                            </div>
                        </div>
                        <h5 class="">700+ Components</h5>
                        <p class=" mt-2 mb-0">Nicely customized components that can be reused anytime and anywhere in
                            your project.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4">
                        <div class="py-5">
                            <div class="icon text-primary">
                                <i class="far fa-puzzle-piece"></i>
                            </div>
                        </div>
                        <h5 class="">Everything is modular</h5>
                        <p class=" mt-2 mb-0">Nicely customized components that can be reused anytime and anywhere in
                            your project.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4">
                        <div class="py-5">
                            <div class="icon text-primary">
                                <i class="far fa-tint"></i>
                            </div>
                        </div>
                        <h5 class="">Extended color palette</h5>
                        <p class=" mt-2 mb-0">A beautiful color palette that can be easily modified with our nicely
                            coded Sass files.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4">
                        <div class="py-5">
                            <div class="icon text-primary">
                                <i class="far fa-code"></i>
                            </div>
                        </div>
                        <h5 class="">15+ integrated plugins</h5>
                        <p class=" mt-2 mb-0">More functionality with the ready to use plugins we have integrated in
                            this theme for you.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4">
                        <div class="py-5">
                            <div class="icon text-primary">
                                <i class="far fa-font"></i>
                            </div>
                        </div>
                        <h5 class="">1500 vector icons</h5>
                        <p class=" mt-2 mb-0">One nice collection of icons so you can add a more intuitive and playful
                            touch to your website.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4">
                        <div class="py-5">
                            <div class="icon text-primary">
                                <i class="far fa-grimace"></i>
                            </div>
                        </div>
                        <h5 class="">SVG illustrations</h5>
                        <p class=" mt-2 mb-0">One nice collection of icons so you can add a more intuitive and playful
                            touch to your website.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4">
                        <div class="py-5">
                            <div class="icon text-primary">
                                <i class="fab fa-twitter"></i>
                            </div>
                        </div>
                        <h5 class="">Latest Bootstrap</h5>
                        <p class=" mt-2 mb-0">A responsive and mobile-first theme built with the world's most popular
                            component library.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4">
                        <div class="py-5">
                            <div class="icon text-primary">
                                <i class="fab fa-sass"></i>
                            </div>
                        </div>
                        <h5 class="">Built with Sass</h5>
                        <p class=" mt-2 mb-0">Change one variable and the theme adapts. Colors, fonts, sizes ... you
                            name it.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4">
                        <div class="py-5">
                            <div class="icon text-primary">
                                <i class="far fa-layer-group"></i>
                            </div>
                        </div>
                        <h5 class="">700+ Components</h5>
                        <p class=" mt-2 mb-0">Nicely customized components that can be reused anytime and anywhere in
                            your project.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4">
                        <div class="py-5">
                            <div class="icon text-primary">
                                <i class="far fa-puzzle-piece"></i>
                            </div>
                        </div>
                        <h5 class="">Everything is modular</h5>
                        <p class=" mt-2 mb-0">Nicely customized components that can be reused anytime and anywhere in
                            your project.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to action (v10) -->
    <section class="slice slice-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card bg-gradient-dark shadow hover-shadow-lg border-0 position-relative zindex-100">
                        <div class="card-body py-5">
                            <div class="d-flex align-items-start">
                                <div class="icon">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                                <div class="icon-text">
                                    <h3 class="text-white h4">70+ example pages</h3>
                                    <p class="text-white mb-0">You get 70+ pre-built pages for a variety of purposes
                                        that makes it the ideal point to start building websites of any kind.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-primary shadow hover-shadow-lg border-0 position-relative zindex-100">
                        <div class="card-body py-5">
                            <div class="d-flex align-items-start">
                                <div class="icon text-white">
                                    <i class="fas fa-question-circle"></i>
                                </div>
                                <div class="icon-text">
                                    <h5 class="h4 text-white">6 months technical support</h5>
                                    <p class="mb-0 text-white">Use our dedicated support email to send your issues or
                                        suggestions. We are here to help anytime: <strong>support@webpixels.io</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>