<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{.Description}}">
    <meta name="author" content="Oka bRionZ">
    <title>{{.Title}}</title>
    <!-- Favicon -->
    <link rel="icon" href="/favicon.png" type="image/png">
    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="/css/all.min.css"><!-- Page CSS -->
    <link rel="stylesheet" href="/css/swiper.min.css">
    <!-- Purpose CSS -->
    <link rel="stylesheet" href="/css/purpose.min.css" id="stylesheet">
</head>