{{ partial "batok" . }}

{{ partial "navbar" . }}

    <!-- Page Header -->
    <header class="masthead bg-dark">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>{{ .Title }}</h1>
              <span class="subheading">{{ .Content }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form action="terima-kasih" name="Halaman Kontak" id="contactForm" netlify>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Nama</label>
                <input name="Nama" type="text" class="form-control" placeholder="Nama" id="nama" required data-validation-required-message="Harap masukan nama Anda.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Email</label>
                <input name="Email" type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Harap memasukan Email Anda">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Nomor Telpon/Handphone</label>
                <input name="Telpon" type="tel" class="form-control" placeholder="Nomor Telpon" id="phone" required data-validation-required-message="Harap masukan Nomor HP Anda">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Pesan</label>
                <textarea name="Pesan" rows="5" class="form-control" placeholder="Pesan" id="message" required data-validation-required-message="Harap memasukan pesan Anda."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary pull-right" id="sendMessageButton">Kirim</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <hr>

    {{ partial "tuur" . }}

    {{ partial "cokor" . }}
