<!DOCTYPE html>
<html lang="id">
{{- partial "head.html" . -}}

<body>
    {{- partial "navbar.html" . -}}
    <div id="content">
        {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
    <script src="/js/purpose.core.js"></script>
    <script src="/libs/swiper/dist/js/swiper.min.js"></script>
    <script src="/js/purpose.js"></script>
</body>

</html>