<!doctype html>
<html lang="id">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{.Params.pagetitle | default .Title}} - {{.Site.Title}}</title>
  <meta name="description" content='{{ replaceRE "\n" "" (.Description | default .Summary) }}'>
  <link rel="canonical" href="{{ .Permalink }}">

  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  {{ template "_internal/schema.html" . }}
  {{ template "_internal/google_news.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <meta property="og:image" content="{{ .Params.image }}">
  <meta property="og:image:width" content="1366">
  <meta property="og:image:height" content="715">
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:description" content="{{ .Description }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="fb:pages" content="115063772008755">

  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/icons/manifest.json">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#ff2b2b">
  <meta name="msapplication-config" content="/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/css/all.min.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/okabrionz.min.css">

</head>

<body class="index" id="top">
  <a class="sr-only sr-only-focusable" href="#top">Skip to main content</a>