<header class="masthead">
    <div class="container">
        <img class="img-fluid fa-spin" height="200px" width="200px" src="/img/bRionZ.svg" alt="jasa pembuatan website">
        <div class="">
            <h1 class="">Cepat dalam segala hal itu penting. </h1>
            <hr>
            <p class="lead">Melayani jasa pembuatan website. Mengerjakan Landing Page, Web Presentasi, Company Profile, e-Commerce, Portfolio, Blog, dll.</p><br>
            <a class="text-white" href="#tentang"><i class="fas fa-chevron-circle-down fa-4x" aria-hidden="true"></i></a>
        </div>
    </div>
</header>