<meta charset="utf-8">
<link rel="canonical" href="{{ .Permalink }}">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta name="theme-color" content="#ff0000">
<style amp-custom>
  {{ partial "styles.min.css" . | safeCSS }}
</style>
{{ with .Site.Params.contact }}<meta name="contact" content="{{ . }}">{{ end }}

<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}images/logo.png">

<meta name="pinterest" content="nopin">

