<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top zhadow">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">Oka b<span class="text-danger">R</span>ionZ</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#bRionZNav" aria-controls="bRionZNav" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars    "></i>
    </button>
    <div class="collapse navbar-collapse" id="bRionZNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/layanan">Layanan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/post">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/biaya-layanan">Biaya</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tentang">Tentang</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/kontak">Kontak</a>
          </li>
      </ul>
    </div>
  </div>
</nav>