<meta name="description" content="{{ replaceRE "\n" "" (.Description | default .Summary) }}">

{{ template "_internal/schema.html" . }}
{{ template "_internal/google_news.html" . }}
<meta property="og:image" content="{{ .Params.image }}">
<meta property="og:image:width" content="1366">
<meta property="og:image:height" content="715">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ replaceRE "\n" "" (.Description | default .Summary) }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ template "_internal/twitter_cards.html" . }}

