<div class="mt3">
<amp-social-share width="30" height="30" type="facebook" data-param-app_id="1734066480192433"></amp-social-share>
<amp-social-share width="30" height="30" type="gplus"></amp-social-share>
<amp-social-share width="30" height="30" type="linkedin"></amp-social-share>
<amp-social-share width="30" height="30" type="twitter"></amp-social-share>
<amp-social-share width="30" height="30" type="whatsapp"></amp-social-share>
</div>