<section id="tentang">
    <div class="container mt-5">
        <h2 class="text-center">Website Seperti Apa yang Anda Inginkan?</h2>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Semakin banyak kebutuhan jasa pembuatan website di Indonesia, saya ingin membantu untuk mengembangkan
                    bisnis Anda lebih meningkat ke tahap selanjutnya.</p><br>
                <h3>Jenis website yang kami kerjakan:</h3><br>
                <div class="row">
                    <div class="col-md-4 portfolio-item mb-3">
                        <div class="card h-100">
                            <a href="/company-profile"><img title="Jasa Pembuatan Company Profile"
                                    class="card-img-top img-fluid lazy" width="512px" height="512px"
                                    data-src="/img/home/company-profile.webp" alt="Web Company Profile"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/company-profile">Company Profile</a>
                                </h4>
                                <p class="small">Apapun jenis bisnis yang Anda miliki, saya akan menjadikan profil suatu
                                    nama menjadi sebuah bentuk visual yang disajikan dalam bentuk halaman website yang
                                    profesional.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio-item mb-3">
                        <div class="card h-100">
                            <a href="/jasa-ecommerce"><img title="Jasa Pembuatan Toko Online"
                                    class="card-img-top img-fluid lazy" width="512px" height="512px"
                                    data-src="/img/home/ecommerce.webp" alt="web toko online"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/jasa-ecommerce">Toko Online</a>
                                </h4>
                                <p class="small">Toko Online atau biasa disebut e-Commerce adalah sarana yang tepat
                                    untuk menjual produk secara langsung kepada konsumen. Terlebih lagi, dengan toko
                                    online Anda dapat tampil lebih profesional karena tidak <em>bersarang</em> di situs
                                    lain.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <div class="card h-100">
                            <a href="/landing-page"><img title="Landing Page &amp; Sales Page"
                                    class="card-img-top img-fluid lazy" width="512px" height="512px"
                                    data-src="/img/home/landing-page.webp" alt="landing page"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/landing-page">Landing Page</a>
                                </h4>
                                <p class="small">Dapatkan lebih banyak profit dengan cara membuat Landing Page untuk
                                    bisnis Anda. Ubah brosur Anda menjadi sebuah situs agar menjangkau calon
                                    klien/konsumen lebih luas dalam waktu yang singkat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <div class="card h-100">
                            <a href="/jasa-pembuatan-blog"><img title="Jasa Pembuatan Situs Blog/Berita"
                                    class="card-img-top img-fluid lazy" width="512px" height="512px"
                                    data-src="/img/home/blogging.webp" alt="pembuatan situs blog"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/jasa-pembuatan-blog">Situs Blogging &amp; Portal Berita</a>
                                </h4>
                                <p class="small">Anda hanya perlu fokus untuk menulis artikel-artikel yang akan
                                    dijadikan konten pada blog Anda. Sisanya, serahkan pembangunan blog kepada ahlinya
                                    dan rasakan bedanya memiliki situs yang profesional.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio-item mt-3">
                        <div class="card h-100">
                            <a href="/jasa-mempercepat-website"><img title="Jasa Mempercepat Website"
                                    class="card-img-top img-fluid lazy" width="512px" height="512px"
                                    data-src="/img/home/web-cepat.webp" alt="jasa mempercepat web"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/jasa-mempercepat-website">Mempercepat Website</a>
                                </h4>
                                <p class="small">Kecepatan sebuah website menjadi sangat penting ketika dituntut menjadi
                                    keharusan oleh mesin pencari. Dan hebatnya lagi, Anda sedang berada di tempat yang
                                    tepat. Layanan ini hanya tersedia bagi Anda yang telah memiliki
                                    situs.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio-item mt-3">
                        <div class="card h-100">
                            <a href="/whatsapp" target="_blank"><img title="Layanan Custom"
                                    class="card-img-top img-fluid lazy" width="512px" height="512px"
                                    data-src="/img/home/custom.webp" alt="jasa mempercepat website"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/whatsapp" target="_blank">Bingung?</a>
                                </h4>
                                <p class="small">Karena saya juga bingung mau ngapain. Sebaiknya Anda segera mengubungi
                                    kami dan konsultasi secara gratis. <a class="btn btn-primary btn-sm mt-3"
                                        href="/whatsapp" target="_blank"><i class="fab fa-whatsapp"
                                            aria-hidden="true"></i> OBAT BINGUNG</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>