<div class="footer-dark bg-dark">
    <footer class="mt-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h4>Layanan</h4>
                    <ul>
                        <li><a href="/toko-online">Web Development</a></li>
                        <li><a href="/company-profile">App Development</a></li>
                        <li><a href="/SEO">SEO Service</a></li>
                        <li><a href="/penetration">Web Security Penetration Testing</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h4>Bantuan</h3>
                        <ul>
                            <li><a href="/ketentuan">Ketentuan</a></li>
                            <li><a href="/faq">Faq</a></li>
                            <li><a href="/careers">Karir</a></li>
                        </ul>
                </div>
                <div class="col-md-6 item text">
                    <h4>Oka bRionZ</h4>
                    <small>Pecandu HTML, CSS, dan Javascript dari pegunungan di Priangan Timur yang siap berkompetisi
                        dan berkolaborasi
                        di bidang keamanan dan kecepatan web dengan para professional lain dari seluruh Dunia.</small>
                </div>
                <div class="col item social">
                    <a href="/facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="/twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="/instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <span class="copyright">Oka b<span class="text-danger">R</span>ionZ 2009-2019</span>
        </div>
    </footer>
</div>
<a href="/whatsapp" class="float" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
</a>