{{ if.Get "href" }}
<a href='{{ .Get "href" }}' target="_blank">
  <amp-img src='{{ $.Site.BaseURL }}{{ .Get "src" }}' alt='{{ .Page.Title }} {{ .Get "src" }}' width='{{ .Get "w" | default "640" }}'
    height='{{ .Get "h" | default "400"}}' layout="responsive" noloading></amp-img>
</a>
{{else}}
<amp-img src='{{ $.Site.BaseURL }}{{ .Get "src" }}' alt='{{ .Page.Title }} {{ .Get "src" }}' width='{{ .Get "w" | default "640" }}'
  height='{{ .Get "h" | default "400"}}' layout="responsive" noloading></amp-img>
{{end}}