<form name="Kontak" method="post" class="p2" action-xhr="/components/amp-form/submit-form-xhr" target="_top" data-netlify="true">

    <div class="ampstart-input inline-block relative mb3">
        <input type="text" name="Nama" placeholder="Nama..." required>
    </div>
    <div class="ampstart-input inline-block relative mb3">
        <input type="email" name="Email" placeholder="Email..." required>
    </div>
    <div class="ampstart-input inline-block relative mb3">
        <input name="Pesan" type="text" placeholder="Pesan Anda...">
    </div>
    <div>
        <input type="submit" value="Kirim" class="ampstart-btn caps">
        <input type="reset" value="Reset" class="ampstart-btn caps">
    </div>
</form>

<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>