<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup {
        background: #fff;
        clear: left;
        font: 14px Helvetica, Arial, sans-serif;
    }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
    <form action="https://unpentium.us12.list-manage.com/subscribe/post?u=1411e7e8e5550a0e50c5f08f5&amp;id=63ae02a585" method="post"
        id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">

            <div class="indicates-required"><span class="asterisk">*</span> wajib diisi</div>
            <div class="mc-field-group">
                <label for="mce-NAMADE">Nama Depan  <span class="asterisk">*</span>
</label>
                <input type="text" value="" name="NAMADE" class="required" id="mce-NAMADE">
            </div>
            <div class="mc-field-group">
                <label for="mce-NAMABE">Nama Belakang  <span class="asterisk">*</span>
</label>
                <input type="text" value="" name="NAMABE" class="required" id="mce-NAMABE">
            </div>
            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group size1of2">
                <label for="mce-HP">Nomor HP  <span class="asterisk">*</span>
</label>
                <input type="number" name="HP" class="required" value="" id="mce-HP">
            </div>
            <div class="mc-field-group">
                <label for="mce-LAYANAN">Layanan  <span class="asterisk">*</span>
</label>
                <select name="LAYANAN" class="required" id="mce-LAYANAN">
	<option value="">--Pilih Layanan</option>
	<option value="Blog">Blog</option>
<option value="Company Profile">Company Profile</option>
<option value="Landing Page">Landing Page</option>
<option value="App Landing Page">App Landing Page</option>
<option value="Angular Dashboard">Angular Dashboard</option>
<option value="React Dashboard">React Dashboard</option>
<option value="Web Diskusi (Forums)">Web Diskusi (Forums)</option>
<option value="Jasa SEO">Jasa SEO</option>
<option value="Mempercepat Web">Mempercepat Web</option>

	</select>
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1411e7e8e5550a0e50c5f08f5_63ae02a585" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Kirim" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
        </div>
    </form>
</div>

<!--End mc_embed_signup-->