<table class="table table-striped table-inverse">
    <thead>
      <tr>
        <th>#</th>
        <th>Layanan</th>
        <th>Estimasi Biaya</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a href="/company-profile">Profil Perusahaan</a></td>
        <td><a href="/landing-page" target="_blank" class="btn btn-sm btn-danger">Klik disini</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><a href="/jasa-ecommerce">e-Commerce (Toko Online)</a></td>
        <td>Rp. 1.600.000</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><a href="/jasa-landing-page">Landing Page</a></td>
        <td><a href="/landing-page" target="_blank" class="btn btn-sm btn-danger">Klik disini</a></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td><a href="/whatsapp" target="_blank">SEO (Search Engine Optimization)</td>
        <td><a href="/whatsapp" target="_blank" class="btn btn-sm btn-danger">Konsultasi Gratis</a></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td><a href="/jasa-pembuatan-blog">Blog/Portal Berita</a></td>
        <td><a href="/landing-page" target="_blank" class="btn btn-sm btn-danger">Klik disini</a></td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td><a href="/jasa-mempercepat-website">Mempercepat Performa Website</a></td>
        <td>Rp. 1.500.000</td>
      </tr>
    </tbody>
  </table>

  <small> <span class="text-danger">*</span>Harga dapat berubah sewaktu-waktu</small>