{{ partial "batok" . }}

{{ partial "navbar" . }}

<header class="masthead">
    <div class="container">
        <h1>Oka bRionZ Portfolios</h1>
        <hr class="star-light">
        <h3 class="skills">Melayani Pembuatan Website untuk Landing Page, Presentasi, Company Profile, e-Commerce,
            Portfolio, dan Blog.
        </h3>
    </div>
    </div>
</header>
<div class="container mt-5">
    <div class="row">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "portfolio") 6 }}
        {{ range $paginator.Pages }}
        <div class="col-md-4 mb-4 d-flex">
            <div class="card">
                <a href="{{ .RelPermalink }}">
                    <img class='card-img-top lazyloaded'
                        src='{{ if eq .Params.simage "" }}/img/mekah.jpg{{else}}{{ .Params.simage }}{{end}}'
                        alt='{{ .Title }}'>
                </a>
            </div>
        </div>
        {{ end }}
    </div>
</div>

<br>

<div class="container">
    {{ partial "paginator" . }}
</div>

{{ partial "tuur" . }}

{{ partial "cokor" . }}