{{ partial "batok" . }}

{{ partial "navbar" . }}

<section class="mt-5">
  <div class="container text-center">
    <h1>{{ .Title }}</h1>
    {{ if .Params.image }}<img class="img-fluid zhadow" src="{{ .Params.image }}" alt="{{ .Title }}">{{ end }}
    <div class="row">
      <div class="col-lg-12 mt-3">

        {{ .Content }}

      </div>
    </div>
  </div>
</section>

{{ partial "tuur" . }}

{{ partial "cokor" . }}