body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden
}

p {
    font-size: 20px
}

p.small {
    font-size: 16px
}

a,
a.active,
a:active,
a:focus,
a:hover {
    color: #ff2b2b;
    outline: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    max-width: 250px;
    margin: 25px auto 30px;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 5px
}

hr.star-light:after,
hr.star-primary:after {
    font-family: FontAwesome;
    font-size: 2em;
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0 .25em;
    content: '\f005'
}

hr.star-light {
    border-color: #fff
}

hr.star-light:after {
    color: #fff;
    background-color: #ff2b2b
}

hr.star-primary {
    border-color: #363738
}

hr.star-primary:after {
    color: #363738;
    background-color: #fff
}

.img-centered {
    margin: 0 auto
}

section {
    padding: 100px 0
}

section h2 {
    font-size: 3em;
    margin: 0
}

section.success {
    color: #fff;
    background: #ff2b2b
}

@media (max-width:767px) {
    section {
        padding: 75px 0
    }
    section.first {
        padding-top: 75px
    }
}

.scroll-top {
    position: fixed;
    z-index: 1049;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px
}

.scroll-top .btn {
    font-size: 16px;
    line-height: 28px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%
}

.scroll-top .btn:focus {
    outline: 0
}

header.masthead {
    text-align: center;
    color: #fff;
    background: #ff2b2b
}

header.masthead .container {
    padding-top: 100px;
    padding-bottom: 50px
}

header.masthead img {
    display: block;
    margin: 0 auto 20px
}

header.masthead .intro-text .name {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    display: block;
}

header.masthead .intro-text .skills {
    font-size: 1em;
    font-weight: 300
}

@media (min-width:768px) {
    header.masthead .container {
        padding-top: 200px;
        padding-bottom: 100px
    }
    header.masthead .intro-text .name {
        font-size: 4em
    }
    header.masthead .intro-text .skills {
        font-size: 1em
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
    background: rgba(6, 6, 6, 0.90)
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    font-size: 20px;
    position: absolute;
    top: 25%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: #fff
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0
}

#portfolio * {
    z-index: 2
}

@media (min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px
    }
}

.portfolio-modal .modal-dialog {
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    border: none;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none
}

.portfolio-modal .modal-dialog .modal-content {
    padding: 100px 0;
    border: 0;
    border-radius: 0
}

.portfolio-modal .modal-dialog .modal-content h2 {
    font-size: 3em;
    margin: 0
}

.portfolio-modal .modal-dialog .modal-content img {
    margin-bottom: 30px
}

.portfolio-modal .modal-dialog .modal-content .item-details {
    margin: 30px 0
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent
}

.portfolio-modal .close-modal:hover {
    opacity: .3
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #363738
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #363738
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: 0 0;
    box-shadow: none !important
}

.floating-label-form-group label {
    font-size: .85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top .3s ease, opacity .3s ease;
    -moz-transition: top .3s ease, opacity .3s ease;
    -ms-transition: top .3s ease, opacity .3s ease;
    transition: top .3s ease, opacity .3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1
}

.floating-label-form-group-with-focus label {
    color: #ff2b2b
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee
}

footer {
    color: #fff
}

footer h3 {
    margin-bottom: 30px
}

footer .footer-above {
    padding-top: 50px;
    background-color: #363738
}

footer .footer-col {
    margin-bottom: 50px
}

footer .footer-below {
    padding: 25px 0;
    background-color: #363738
}

.btn-outline {
    font-size: 20px;
    margin-top: 15px;
    transition: all .3s ease-in-out;
    color: #fff;
    border: solid 2px #fff;
    background: 0 0
}

.btn-outline.active,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
    color: #ff2b2b;
    border: solid 2px #fff;
    background: #fff
}

.btn-primary {
    font-weight: 700;
    color: #fff;
    border-color: #363738;
    background-color: #363738
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    border-color: #000;
    background-color: #1d1e1e
}

.btn-primary:hover {
    color: #fff;
    border-color: #181819;
    background-color: #1d1e1e
}

.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
    color: #fff;
    border-color: #181819;
    background-color: #1d1e1e
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.btn-primary.dropdown-toggle.focus,
.open>.btn-primary.dropdown-toggle:focus,
.open>.btn-primary.dropdown-toggle:hover {
    color: #fff;
    border-color: #000;
    background-color: #0b0c0c
}

.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
    background-image: none
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    border-color: #363738;
    background-color: #363738
}

.btn-primary .badge {
    color: #363738;
    background-color: #fff
}

.btn-success {
    font-weight: 700;
    color: #fff;
    border-color: #ff2b2b;
    background-color: #ff2b2b
}

.btn-success.focus,
.btn-success:focus {
    color: #fff;
    border-color: #ab0000;
    background-color: #f70000
}

.btn-success:hover {
    color: #fff;
    border-color: #ed0000;
    background-color: #f70000
}

.btn-success.active,
.btn-success:active,
.open>.btn-success.dropdown-toggle {
    color: #fff;
    border-color: #ed0000;
    background-color: #f70000
}

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.btn-success.dropdown-toggle.focus,
.open>.btn-success.dropdown-toggle:focus,
.open>.btn-success.dropdown-toggle:hover {
    color: #fff;
    border-color: #ab0000;
    background-color: #d30000
}

.btn-success.active,
.btn-success:active,
.open>.btn-success.dropdown-toggle {
    background-image: none
}

.btn-success.disabled.focus,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled].focus,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
    border-color: #ff2b2b;
    background-color: #ff2b2b
}

.btn-success .badge {
    color: #ff2b2b;
    background-color: #fff
}

.btn-social {
    font-size: 20px;
    line-height: 45px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 100%
}

.btn.active,
.btn:active,
.btn:focus {
    outline: 0
}

.yello {
    background-color: #FF0000;
    color: black
}

.zhadow {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #CC2100;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.card:hover,
.btn:hover {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)
}

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

img.lazy {
    display: block;
    height: 350;
    width: 350px;
}
.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:10px;
	right:10px;
	background-color:#25d366;
	color:#fff;
	border-radius:40px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:10px;
  color: #fff;
}