<!doctype html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="description" content="{{.Description}}">
    <link rel="canonical" href="{{ .Permalink }}">
    <title>{{.Title}} | {{.Site.Title}}</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CFira+Sans:300,400,400i,600">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/css/theme.min.css">

</head>

<body>
    <header class="site-header fixed-top bg-black border-bottom bg-dark">
        <a href="#content" class="sr-only sr-only-focusable">Lewati ke konten</a>
        <div class="container">

            <nav class="navbar main-nav navbar-expand-lg navbar-dark" aria-label="Main navigation">
                <a href="/" class="navbar-brand d-inline-flex"><i class="material-icons ml-2"
                        aria-hidden="true">donut_large</i>ka b<span class="text-danger">R</span>ionZ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-uppercase" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/layanan">Layanan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/post">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/biaya-layanan">Biaya</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tentang">Tentang</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/kontak">Kontak</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main id="content">

        <!-- Hero -->
        <div class="container py-5 pt-lg-6">
            <h1 class="display-3">Desain Web</h1>
            <hr class="border-2 border-light my-4 ml-0 text-left w-15" role="presentation">
            <div class="row">
                <div class="col-lg-9">
                    <p class="lead text-secondary">Kami merancang strategi untuk menarik audiens Anda.</p>
                </div>
            </div>
        </div>

        <!-- Projects -->
        <div class="container mb-4">
            <div class="row justify-content-lg-between align-items-center pb-5 pb-lg-6">
                <div class="col-lg-5 order-lg-2 mb-2 mb-lg-0">
                    <h2 class="h3 font-weight-normal">Landing Page</h2>
                    <p class="font-weight-light text-light">Dengan Landing Page yang dibuat dengan teknologi <a
                            href="https://amp.dev/" target="_blank" rel="noopener noreferrer">AMP</a> yang dikembangkan
                        oleh Google, Indo Membrane mampu menembus tingkat konversi yang sangat memuaskan.</p>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <a href="/portfolio/indomembrane/">
                        <figure class="img-overlay img-color">
                            <img src="/img/portfolio/sites/indomembrane.png" alt="Jasa Pembuatan Website Indo Membrane"
                                class="border-light img-thumbnail">
                            <div class="img-hover">
                                <span class="img-text">Lihat</span>
                            </div>
                        </figure>
                    </a>
                </div>
            </div>

            <div class="row justify-content-lg-between align-items-center pb-5 pb-lg-6">
                <div class="col-lg-5 mb-2 mb-lg-0">
                    <h2 class="h3 font-weight-normal">Blog & Berita</h2>
                    <p class="font-weight-light text-light"> Website yang dibangun menggunakan Hugo dengan framework
                        Bootstrap ini sangat cepat dan mudah untuk setiap artikelnya terindex oleh mesin pencari.</p>
                </div>
                <div class="col-lg-6">
                    <a href="/portfolio/sirnarasa">
                        <figure class="img-overlay img-color">
                            <img src="/img/portfolio/sites/sirnarasa.png" alt="Jasa Pembuatan Blog Sirnarasa"
                                class="border-dark img-thumbnail">
                            <div class="img-hover">
                                <span class="img-text">Lihat</span>
                            </div>
                        </figure>
                    </a>
                </div>
            </div>

            <div class="row justify-content-lg-between align-items-center pb-5 pb-lg-6">
                <div class="col-lg-5 order-lg-2 mb-2 mb-lg-0">
                    <h2 class="h3 font-weight-normal">e-Commerce</h2>
                    <p class="font-weight-light text-secondary">Toko Online yang sangat cepat. Dibangun menggunakan
                        Shopify dengan metode pembayaran custom dari sehingga dapat menerima pembayaran dari Indonesia.
                    </p>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <a href="/portfolio/edberth">
                        <figure class="img-overlay img-color">
                            <img src="/img/portfolio/sites/paulmay.png" alt="..." class="border-dark img-thumbnail">
                            <div class="img-hover">
                                <span class="img-text">Lihat</span>
                            </div>
                        </figure>
                    </a>
                </div>
            </div>
        </div>

        <!-- Brands -->
        <div class="bg-light py-5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-4 col-md-2 py-3">
                        <a href="/shopify" target="_blank" rel="noopener noreferrer"><img
                                src="/img/brands/shopify_monotone_black.svg" alt="Shopify logo"></a>
                    </div>
                    <div class="col-4 col-md-2 py-3">
                        <a href="/unbounce" target="_blank" rel="noopener noreferrer"><img
                                src="/img/brands/unbounce-identity-gray.svg" alt="Unbounce logo"></a>
                    </div>
                    <div class="col-4 col-md-2 py-3 text-dark">
                        <img height="50" src="/img/brands/bootstrap-solid.svg" alt="Bootstrap logo"> Bootstrap
                    </div>
                    <div class="col-4 col-md-2 py-3">
                        <img src="/img/brands/hugo-logo-wide.svg" alt="Hugo logo">
                    </div>
                    <div class="col-4 col-md-2 py-3">
                        <img src="/img/logo-spotify.svg" alt="Spotify logo">
                    </div>
                </div>
            </div>
        </div>

        <!-- Call to action -->
        <div class="bg-dark text-center">
            <div class="container py-6">
                <h2>Saya membantu Anda merancang situs web ideal Anda</h2>
                <p class="lead mb-4">Miliki segera website dengan desain unik, performa cepat, dan keamanan yang sangat
                    terjamin.</p>
                <a href="/kontak" class="btn btn-outline-light">Hubungi Kami</a>
            </div>
        </div>

    </main>

    <!-- Footer -->
    <footer class="bg-white text-dark">
        <div class="container pt-6 pb-2">
            <div class="row justify-content-md-between">
                <div class="col-4 col-md-2 mb-4">
                    <h4 class="h6">About</h4>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a href="/team" class="text-muted">Team</a></li>
                        <li class="mb-1"><a href="/careers" class="text-muted">Karir</a></li>
                        <li class="mb-1"><a href="#" class="text-muted">Blog</a></li>
                        <li class="mb-1"><a href="#" class="text-muted">Kontak</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-2 mb-4">
                    <h4 class="h6 mb-3">Services</h4>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a href="/jasa-landing-page" class="text-muted">Landing Page</a></li>
                        <li class="mb-1"><a href="/jasa-pembuatan-blog" class="text-muted">Blog</a></li>
                        <li class="mb-1"><a href="/jasa-ecommerce" class="text-muted">e-Commerce</a></li>
                        <li class="mb-1"><a href="/jasa-mempercepat-website" class="text-muted">Optimasi Web</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-2 mb-4">
                    <h4 class="h6 mb-3">Social</h4>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a target="_blank" href="https://twitter.com/antihacx"
                                class="text-muted">Twitter</a></li>
                        <li class="mb-1"><a target="_blank" href="https://instagram.com/antihacx"
                                class="text-muted">Instagram</a></li>
                        <li class="mb-1"><a target="_blank" href="https://facebook.com/okabrionzcom"
                                class="text-muted">Facebook</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 mb-4">
                    <h3 class="h6 mb-3">Oka bRionZ</h3>
                    <p class="text-muted">Perusahaan digital yang bergerak di bidang jasa web design &amp; developmet
                        yang mengutamakan kecepatan dan keamanan.</p>
                </div>
            </div>
            <hr>
            <p class="small">&copy; Oka bRionZ 2019</p>
        </div>
    </footer>
    <script src="/js/theme.min.js"></script>
</body>

</html>