<!doctype html>
<html lang="id">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{.Title}}</title>
</head>

<body>
    <div class="container my-3">
        <img width="150" src="{{.Params.image}}" alt="{{.Title}}" class="img-fluid">
        <h1>{{.Title}}</h1>
        <h6>{{.Description}}</h6>
        {{if .Params.price}}Rp. <strong class="text-primary">{{.Params.price | lang.NumFmt 2 }}</strong>{{end}}

        <form class="form-horizontal" method="get" action="https://wa.me/6282319158632">
            <fieldset>

                <!-- Form Name -->
                <legend>Formulir Pemesanan</legend>

                <!-- Text input-->

                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="text">Isi Pesan WA</label>
                    <div class="col-md-4">
                        <textarea class="form-control" id="text" name="text" value="">Saya ingin memesan {{.Title}} Alamat website saya: www.example.com
                        </textarea>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <div class="col-md-4">
                        <button id="button" class="btn btn-info">Gasken</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>