{{ partial "batok" . }}

{{ partial "navbar" . }}

<section class="mt-5">
  <div class="container">
    <header class="text-center">
      {{ if .Params.image }}<img class="img-fluid mb-3 zhadow" src="{{ .Params.image }}" alt="{{ .Title }}">{{ end }} 
    <h1><span class="yello">{{ .Title }}</span></h1>
    </header>{{ .Content }} 

  </div>
  <div class="text-center">
    <a name="Hubungi via Telpon" class="btn btn-dark" href="tel:+6282319228666" role="button"><i class="fal fa-phone"></i> Telpon saya</a>
    <a name="Hubungi via Whatsapp" class="btn btn-success" href="/whatsapp"
      role="button"><i class="fab fa-telegram" aria-hidden="true"></i> Chat Sekarang</a>
  </div>
</section>


{{ partial "tuur" . }}

{{ partial "cokor" . }}