{{ partial "batok" . }}

{{ partial "navbar" . }}

{{ partial "tentang" . }}

<section class="mt-3">
  <div class="text-center">
    <a name="Hubungi via Telpon" class="btn btn-dark" href="tel:+6282319228666" role="button"><i class="fal fa-phone"></i> Telpon saya</a>
    <a name="Hubungi via Whatsapp" class="btn btn-success" href="/whatsapp"
      role="button"><i class="fab fa-telegram" aria-hidden="true"></i> Chat Sekarang</a>
  </div>
</section>


{{ partial "tuur" . }}

{{ partial "cokor" . }}