<!DOCTYPE html>
<html ⚡ lang="{{ .Params.bahasa }}"> 
  <head>
    {{ partial "meta.html" . }}
    <script async="async" src="https://cdn.ampproject.org/v0.js"></script>

    <title>{{ block "title" . }}{{.Title}}{{ end }} - {{ .Site.Title }}</title>
    <meta property="fb:pages" content="115063772008755" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async="async" custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async="async" custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async="async" custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    
    {{ if in .Params.ampElement "youtube" }}<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>{{ end }}
    {{ if in .Params.ampElement "comment" }}<script async custom-element="amp-facebook-comments" src="https://cdn.ampproject.org/v0/amp-facebook-comments-0.1.js"></script>{{end}}

    {{block "meta" . }}{{end}}
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/manifest.json">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#ff2b2b">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="{{ .Description | default .Summary }}">
    
    {{ if .Site.GoogleAnalytics }}<script async="async" custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>{{ end }}
  </head>

  <body>
    {{ if ne (getenv "HUGO_ENV") "DEV" }}
    {{ with .Site.GoogleAnalytics }}
    <amp-analytics type="googleanalytics" id="analytics1">
      <script type="application/json">
        {
          "vars": {
            "account": "{{ . }}"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
      </script>
    </amp-analytics>
    {{ end }}
    {{ end }}

    {{ partialCached "navamp" . }}

    <main>
      {{ block "main" . }}
      {{ end }}
    </main>

    {{ block "footer_before" . }}{{ end }}

    <footer class="l-footer">
      <div class="l-container">
        <small>{{ with .Site.Copyright }}{{ . | safeHTML }}{{ else }}&copy; <a href="/">{{ .Site.Title }}</a>{{ end }} {{ now.Format "2006"}}</small>
        
      </div>
    </footer>
  </body>
</html>

