<article class="li article">
  <div class="header-wrapper">
    <a href="{{ .Permalink }}" title="{{ .Title }}"><amp-img src="{{.Params.image}}" alt="{{ .Title }}" width="512" height="304" layout="responsive"></amp-img></a>
    <header class="article-header">
      <div class="clearfix">
        <h2 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <ul class="p-facts">
          <li><time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05JST" }}">{{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time></li>
          {{ with .Section }}<li><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/">{{ . }}</a></li>{{ end }}
          {{ if eq (getenv "HUGO_ENV") "DEV" }}
          <li>{{ .WordCount }} Words</li>
          {{ if .IsDraft }}<li style="color: #2196f3;">DRAFT</li>{{ end }}
          {{ end }}
        </ul>
      </div>
    </header>
  </div>
  <div class="article-body summary">{{ .Summary }}</div>
  <footer class="readmore"><a href="{{ .Permalink }}">READ MORE</a></footer>
</article>
