{{ define "title" }}{{ .Title }} - {{ end }}
{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}
{{ define "main" }}
<div class="l-container pt3">
  <article>
    <h1 class="title">{{ .Title }}</h1>
    <div class="header-wrapper">
      <amp-img src="{{.Params.image}}" alt="{{ .Title }}" width="600" height="400" layout="responsive" noloading>
      </amp-img>
      <header class="article-header">


        <div class="clearfix">
          <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="p-crumb">
            <li><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></li>
            {{ with .Section }}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a
                href="/{{ . | urlize }}/" itemprop="item"><span itemprop="name">{{ . }}</span></a>
            </li>
            {{ end }}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="p-crumb-l"><span
                itemprop="name">{{ .Title }}</span></li>
          </ol>
        </div>
        <ul class="p-facts">
          <li>
            <time
              datetime="{{ .Lastmod.Format " 2006-01-02T15:04:05JST " }}">{{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time>
          </li>
        </ul>

      </header>
    </div>

    {{ .Content }}
  </article>
  <div class="stelar content-center">
    <a href="/">
      <amp-img class="zhadow" src="/img/jasa-pembuatan-website-profesional.png" layout="responsive" width="728" height="90">

      </amp-img>
    </a>
  </div>

  <section>
    {{ $params := .Params }} {{ range $key, $value := $.Site.Taxonomies }} {{ if isset $params $key }}
    <ul class="p-facts">
      <li>
        <header><a href="{{ $.Site.BaseURL }}/{{ $key | urlize }}/">{{ $key }}</a></header>
        <ul>
          {{ range (index $params $key) }}
          <li><a href="{{ $.Site.BaseURL }}/{{ $key | urlize }}/{{ . | urlize }}/">{{ . }}</a></li>
          {{ end }}
        </ul>
      </li>
    </ul>
    {{ end }} {{ end }}
  </section>

  {{ partialCached "share.html" . }}
  {{ if in .Params.ampElement "comment" }}<div>
    <amp-facebook-comments width=486 height=657 layout="responsive" data-numposts="5" data-href="{{ .Permalink }}">
    </amp-facebook-comments>
  </div>{{end}}

  {{ $recent_articles := (where (where .Site.Pages "Type" "post") "IsPage" true) }} {{ if ne 0 (len $recent_articles) }}
  <section>
    <header>
      <a href="/post"><span>Artikel lainnya</span></a>
    </header>
    <ul class="clearfix list-reset">
      {{ range first ($.Site.Params.latestSize | default 6) $recent_articles }}
      <li>
        <h4 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
</div>

{{ end }}