<article class="single article">
  <div class="header-wrapper">
    <div class="clearfix">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="p-crumb">
        <li><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></li>
        {{ with .Section }}
        <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem"><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/"  itemprop="item"><span itemprop="name">{{ . }}</span></a></li>
        {{ end }}
        <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem" class="p-crumb-l"><span itemprop="name">{{ .Title }}</span></li>
      </ol>
    </div>
    <a href="{{ .Permalink }}" title="{{ .Title }}">
      <amp-img src="{{.Params.image}}" alt="{{ .Title }}" width="512" height="304" layout="responsive"></amp-img>
    </a>
    <header class="article-header">
      <div class="clearfix">
        <h1 class="title">{{ .Title }}</h1>
        <ul class="p-facts">
          <li>
            <time datetime="{{ .Lastmod.Format " 2006-01-02T15:04:05JST " }}">{{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time>
          </li>
          {{ with .Section }}
          <li><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/">{{ . }}</a></li>{{ end }} {{ if eq (getenv "HUGO_ENV") "DEV" }}
          <li>{{ .WordCount }} Words</li>
          {{ if .IsDraft }}
          <li style="color: #2196f3;">DRAFT</li>{{ end }} {{ end }}
        </ul>
      </div>
    </header>
  </div>
  
  <section>
    {{ $params := .Params }} {{ range $key, $value := $.Site.Taxonomies }} {{ if isset $params $key }}
    <ul class="p-facts">
      <li>
        <header><a href="{{ $.Site.BaseURL }}{{ $key | urlize }}/">{{ $key }}</a></header>
        <ul>
          {{ range (index $params $key) }}
          <li><a href="{{ $.Site.BaseURL }}{{ $key | urlize }}/{{ . | urlize }}/">{{ . }}</a></li>
          {{ end }}
        </ul>
      </li>
    </ul>
    {{ end }} {{ end }}
  </section>
  <div class="article-body">{{ .Content }}</div>

  {{ partial "share.html" . }}

</article>