
{{ define "meta" }} 

{{ partial "page_meta.html" . }} 

{{ partial "page_json_ld.html" . }} {{ end }} 

{{ define "main" }}
<div class="l-container pt3">
    <article class="single article">
        <div class="header-wrapper">
                {{if .Params.image }}<amp-img src="{{.Params.image}}" alt="{{ .Title }}" width="150" height="100" layout="responsive" noloading><noscript><img alt="{{ .Title }}" src="{{.Params.image}}"></noscript></amp-img>{{ end }}
            <header class="article-header">
            </header>
        </div>
        <div class="article-body">{{ .Content }}</div>
        {{ partial "share.html" . }}
    </article>
</div>
{{ end }}
