<section class="fdb-block fdb-viewport bg-danger">
  <div class="container align-items-center justify-content-center d-flex">
    <div class="row align-items-center text-left">
      <div class="col-12 col-sm-10 col-md-8 col-lg-8 text-white">
        <h1>Miliki Website Sekarang Juga!</h1>
        <p class="text-h3">Promosikan bisnis Anda dengan Internet, dan dapatkan keuntungan lebih besar.</p>
            <a href="tel:+6282319228666" class="btn btn-dark btn-sm btn-shadow"><i class="fal fa-phone" aria-hidden="true"></i> Telpon</a>
          <a href="/whatsapp" class="btn btn-primary btn-sm btn-shadow"><i class="fab fa-whatsapp" aria-hidden="true"></i>
            Whatsapp</a><br>
      </div>
    </div>
  </div>
</section>