{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="p-paginator">
  {{ if .Paginator.HasPrev }}
  <a class="btn btn-warning" href="{{ .Paginator.Prev.URL }}" rel="prev" class="prev">Prev</a>
  {{ end }}
  {{ if .Paginator.HasNext }}
  <a class="btn btn-warning" href="{{ .Paginator.Next.URL }}" rel="next" class="next">Next</a>
  {{ end }}
</nav>
{{ end }}
