<!-- Portfolio Grid Section -->
<section id="portfolio">
  <h2 class="text-center mb-5">Klien</h2>
  <div class="container">
    <div class="row">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "portfolio") 8 }}
        {{ range $paginator.Pages }}
            <div class="col-md-4 mb-4 d-flex">
                <div class="card">
                    <a href="{{ .RelPermalink }}">
                    <img title="{{.Title}}" class='card-img-top'  width="350px" height="254px"
                        src='{{ if eq .Params.simage "" }}/img/opengraph.jpg{{else}}{{ .Params.simage }}{{end}}'
                        alt='{{ .Title }}'>
                    </a>
                </div>
            </div>
        {{ end }}
        <div class="col-md-4 mb-4 d-flex">
            <div class="card">
                <a href="/konsultasi">
                <img class="card-img-top" width="350px" height="254px"
                    src='/img/portfolio/web-anda.png'
                    alt='{{ .Title }}'>
                </a>
            </div>
        </div>
    </div>
  </div>
  <div class="text-center">
          <a  href="/biaya-pembuatan-website" class="btn btn-dark">GILIRAN ANDA!</a>
          <a href="/portfolio" class="btn btn-outline-dark">WEB LAINNYA</a>
  </div>
</section>
