<section id="blog" class="mt-5 bg-dark">
    <div class="container">
        <h2 class="mb-3 text-danger">Post Terbaru</h2>
        <div class="row">
            <div class="col-lg-12">
                <article class="card-post">
                        <div class="row">
                            {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 9 }} {{ range $paginator.Pages }}
                            <div class="col-md-4 mb-4 d-flex">
                                <div class="card">
                                    <a href="{{ .RelPermalink }}">
                            <img class='card-img-top' 
                                src='{{ if eq .Params.image "" }}https://unsplash.it/512/512?random{{else}}{{ .Params.image }}{{end}}'
                                alt='{{ .Title }}'>
                            </a>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                        </h5>
                                        <span class="text-dark">Pada <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05JST" }}">{{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time> - Sekitar {{ .ReadingTime }} menit dibaca</span>
                                    </div>
                                </div>

                            </div>
                            {{ end }}

                        </div>
                    </div>
                </article>


            </div>
            {{ partial "paginator" . }}
        </div>
    </div>
</section>