<table class="table table-striped table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>Layanan</th>
      <th>Estimasi Biaya</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="/jasa-profil-perusahaan">Profil Perusahaan</a></td>
      <td>Rp. 1.000.000</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href="/jasa-ecommerce">e-Commerce (Toko Online)</a></td>
      <td>Rp. 600.000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a href="/jasa-landing-page">Landing Page</a></td>
      <td>Rp. 750.000</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td><a href="/whatsapp">Jasa SEO</td>
      <td>Bervariasi</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td><a href="/jasa-pembuatan-blog">Situs Blogging</a></td>
      <td>Rp. 450.000</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td><a href="/jasa-mempercepat-website">Mempercepat Performa Website</a></td>
      <td>Rp. 500.000</td>
    </tr>
  </tbody>
</table>