h2,
h3,
h4,
h5,
h6 {
    margin: 1.5rem 0
}

.p-logo,
a {
    text-decoration: none
}

.p-crumb-l,
h1,
h2,
h3,
h4,
h5,
h6,
section>header {
    font-weight: 700
}

code,
h3,
h4,
h5,
h6,
p {
    line-height: 1.5rem
}

dfn,
em {
    font-style: italic
}

body,
html,
ol,
ul {
    margin: 0
}

.p-crumb,
.p-facts li,
section>header {
    text-transform: uppercase
}

.l-header,
.p-paginator,
.p-share a,
section>header {
    text-align: center
}

.p-logo a,
.p-paginator a,
article .p-crumb,
svg:not(:root) {
    overflow: hidden
}

.p-crumb,
.truncate {
    text-overflow: ellipsis
}

.list-reset,
.list-style-none,
.p-articles,
.p-crumb,
.p-facts {
    list-style: none
}

.relative,
sub,
sup {
    position: relative
}

html {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

@media (max-width :768px) {
    html {
        font-size: 15px
    }
}

body {
    font-size: inherit
}

ol,
ul {
    padding: 0
}

h2 {
    font-size: 1.4rem
}

h3 {
    font-size: 1.2rem
}

.l-footer,
h4,
h5,
h6 {
    font-size: 1rem
}

.clearfix::after {
    content: '';
    display: block;
    clear: both
}

main {
    display: block
}

.l-header {
    padding: .5rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px dashed #cfd8dc
}

.l-footer {
    padding: 1rem 0;
    border-top: 1px dashed #cfd8dc
}

.l-container {
    max-width: 42rem;
    margin: 0 auto;
    padding: 0 1rem
}

.fit,
.truncate,
legend {
    max-width: 100%
}

.p-facts li,
.p-facts li li {
    display: inline-block;
    margin-right: .5rem
}

.p-logo {
    color: #fff;
    font-size: 1.6rem
}

a {
    -webkit-text-decoration-skip: objects
}

.p-facts li header a,
a,
abbr[title],
article .readmore a {
    color: #df0000
}

section {
    border-top: 2px solid #eceff1;
    padding: 1.5rem 0
}

section>header {
    margin-bottom: 2rem
}

section>header span {
    display: inline-block;
    background-color: #000;
    color: #fff;
    letter-spacing: 3px;
    font-size: .7rem;
    padding: .5rem .75rem
}

.p-facts {
    font-size: .8rem;
    margin-bottom: 1rem
}

.p-crumb,
.p-crumb-l,
.p-share a {
    font-size: .6rem
}

.p-facts:last-child {
    margin-bottom: 0
}

.p-facts li header {
    margin-bottom: .25rem;
    font-weight: 700
}

.p-facts li a {
    color: #000
}

.p-facts li li::after {
    content: ','
}

.p-facts li li:last-child::after {
    content: ''
}

.p-crumb {
    margin-bottom: 1rem;
    white-space: nowrap;
    color: #fc191c
}

button,
hr,
input {
    overflow: visible
}

pre,
textarea {
    overflow: auto
}

.p-crumb-l {
    color: #7c7d7e
}

.p-crumb:last-child {
    margin-bottom: 0
}

.p-crumb li {
    display: inline
}

.p-crumb li::after {
    content: '›';
    margin: 0 .5rem
}

.p-crumb li:last-child::after {
    content: ''
}

.p-page-title {
    margin-bottom: 2rem
}

.p-page-title .title {
    margin-bottom: .3rem
}

.p-share {
    margin-bottom: 1.5rem
}

.p-share a {
    display: inline-block;
    padding: .5rem;
    margin-right: .25rem;
    background-color: #eceff1;
    font-weight: 700k
}

a,
pre code {
    background-color: transparent
}

.p-share a.ht {
    color: #00a4de
}

.p-share a.fb {
    color: #3b5998
}

.p-share a.tw {
    color: #1da1f2
}

.p-share a.gp {
    color: #dd4b39
}

.p-share a.ln {
    color: #00c300
}

.p-share a.ht::before {
    content: 'Hatena'
}

.p-share a.fb::before {
    content: 'Facebook'
}

.p-share a.tw::before {
    content: 'Twitter'
}

.p-share a.gp::before {
    content: 'Google+'
}

.p-share a.ln::before {
    content: 'LINE'
}

.p-terms {
    padding-left: 2rem
}

.p-paginator {
    margin-bottom: 3rem;
    padding-top: 2rem
}

.p-paginator a {
    display: inline-block;
    border: 2px solid #eceff1;
    color: #1495d5;
    padding: 0 1rem
}

.p-articles>li {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px dashed #cfd8dc
}

.p-articles>li:last-child {
    border-bottom: none;
    padding-bottom: 0
}

.p-articles.thin>li {
    margin-bottom: 1rem;
    padding-bottom: 1rem
}

code,
h4 {
    padding: 0 .5rem
}

blockquote,
figcaption {
    padding: .5rem 0;
    font-size: .8rem
}

article .article-header {
    display: table-cell;
    height: 6rem;
    vertical-align: middle
}

.align-baseline,
progress,
sub,
sup {
    vertical-align: baseline
}

article .title {
    margin: 0 0 .5rem;
    font-size: 1.4rem
}

article .header-wrapper,
article .summary {
    margin-bottom: 1.5rem
}

article a {
    color: #ff6b6d
}

article a:visited {
    color: #ffa7a7
}

article .thumbnail {
    display: block;
    background-position: center;
    background-size: cover;
    width: 6rem;
    height: 6rem;
    box-shadow: 0 0 3px 0 #333 inset;
    float: left;
    margin-right: 1rem
}

audio,
canvas,
code,
progress,
video {
    display: inline-block
}

article .readmore {
    text-align: right
}

article .readmore a {
    font-size: .8rem;
    color: red
}

code,
pre {
    color: #66fb30
}

article.li.sm .header-wrapper {
    margin-bottom: 3rem
}

blockquote,
pre {
    margin: 1.5rem 0
}

h2 {
    padding: 1rem 0;
    border-bottom: 2px solid #eceff1
}

h2:first-child {
    margin-top: 0
}

h4 {
    border-left: solid .25rem red
}

ol,
ul {
    padding-left: 1.5rem
}

code {
    background-color: #010101
}

pre {
    padding: 1.5rem;
    background-color: #263238
}

blockquote {
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #eceff1;
    color: #607d8b
}

blockquote p {
    margin: .5rem 0;
    line-height: 1rem
}

em {
    font-weight: 400;
    color: #242424;
    background-color: rgba(255, 242, 0, .73)
}

figure.left,
figure.right {
    width: 15rem;
    height: 12rem;
    margin-top: 0
}

figure.left {
    float: left;
    margin-right: 1rem;
    margin-left: -2rem
}

figure.right {
    float: right;
    margin-left: 1rem;
    margin-right: -2rem
}

@media (max-width:768px) {
    figure {
        margin: 1.5rem -1rem
    }

    figure.left,
    figure.right {
        float: none;
        margin: 0 -1rem;
        width: auto;
        height: auto
    }
}

figcaption {
    text-align: center
}

figcaption a {
    color: #263238
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: .9em
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder
}

mark {
    background-color: red;
    color: #212121
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: Roboto, sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
select {
    text-transform: none
}

.ampstart-label,
.caps {
    text-transform: uppercase
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

.mr0,
.mx0 {
    margin-right: 0
}

.mt0,
.my0 {
    margin-top: 0
}

.mb0,
.my0 {
    margin-bottom: 0
}

.p0,
legend {
    padding: 0
}

.list-reset,
.pl0,
.px0 {
    padding-left: 0
}

.pr0,
.px0 {
    padding-right: 0
}

.pt0,
.py0 {
    padding-top: 0
}

.pb0,
.py0 {
    padding-bottom: 0
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    white-space: normal
}

.ampstart-btn,
.nowrap,
.truncate {
    white-space: nowrap
}

.overflow-hidden,
.truncate {
    overflow: hidden
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

.font-family-inherit {
    font-family: inherit
}

.font-size-inherit {
    font-size: inherit
}

.text-decoration-none {
    text-decoration: none
}

.bold {
    font-weight: 700
}

.regular {
    font-weight: 400
}

.italic {
    font-style: italic
}

.caps {
    letter-spacing: .2em
}

.left-align {
    text-align: left
}

.center {
    text-align: center
}

.right-align {
    text-align: right
}

.justify {
    text-align: justify
}

.break-word {
    word-wrap: break-word
}

.line-height-1 {
    line-height: 1rem
}

.line-height-2 {
    line-height: 1.42857
}

.line-height-3 {
    line-height: 2.0625
}

.line-height-4 {
    line-height: 1.81818
}

.underline {
    text-decoration: underline
}

.inline {
    display: inline
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.table {
    display: table
}

.table-cell {
    display: table-cell
}

.overflow-scroll {
    overflow: scroll
}

.overflow-auto {
    overflow: auto
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.left {
    float: left
}

.right {
    float: right
}

.max-width-1 {
    max-width: 24rem
}

.max-width-2 {
    max-width: 32rem
}

.max-width-3 {
    max-width: 48rem
}

.max-width-4 {
    max-width: 64rem
}

.border-box {
    box-sizing: border-box
}

.align-top {
    vertical-align: top
}

.align-middle {
    vertical-align: middle
}

.align-bottom {
    vertical-align: bottom
}

.m0 {
    margin: 0
}

.ml0,
.mx0 {
    margin-left: 0
}

.mr1,
.mx1 {
    margin-right: .5rem
}

.mt1,
.my1 {
    margin-top: .5rem
}

.mb1,
.my1 {
    margin-bottom: .5rem
}

.m1 {
    margin: .5rem
}

.ml1,
.mx1 {
    margin-left: .5rem
}

.mr2,
.mx2 {
    margin-right: 1rem
}

.mt2,
.my2 {
    margin-top: 1rem
}

.mb2,
.my2 {
    margin-bottom: 1rem
}

.m2 {
    margin: 1rem
}

.ml2,
.mx2 {
    margin-left: 1rem
}

.mr3,
.mx3 {
    margin-right: 1.5rem
}

.mb3,
.my3 {
    margin-bottom: 1.5rem
}

.m3 {
    margin: 1.5rem
}

.ml3,
.mx3 {
    margin-left: 1.5rem
}

.mr4,
.mx4 {
    margin-right: 2rem
}

.my3 {
    margin-top: 1.5rem
}

.mt4,
.my4 {
    margin-top: 2rem
}

.mb4,
.my4 {
    margin-bottom: 2rem
}

.m4 {
    margin: 2rem
}

.ml4,
.mx4 {
    margin-left: 2rem
}

.mxn1 {
    margin-left: -.5rem;
    margin-right: -.5rem
}

.mxn2 {
    margin-left: -1rem;
    margin-right: -1rem
}

.mxn3 {
    margin-left: -1.5rem;
    margin-right: -1.5rem
}

.mxn4 {
    margin-left: -2rem;
    margin-right: -2rem
}

.ml-auto,
.mx-auto {
    margin-left: auto
}

.mr-auto,
.mx-auto {
    margin-right: auto
}

.pl1,
.px1 {
    padding-left: .5rem
}

.pr1,
.px1 {
    padding-right: .5rem
}

.pt1,
.py1 {
    padding-top: .5rem
}

.pb1,
.py1 {
    padding-bottom: .5rem
}

.p1 {
    padding: .5rem
}

.pt2,
.py2 {
    padding-top: 1rem
}

.pb2,
.py2 {
    padding-bottom: 1rem
}

.pl2,
.px2 {
    padding-left: 1rem
}

.pr2,
.px2 {
    padding-right: 1rem
}

.p2 {
    padding: 1rem
}

.pt3,
.py3 {
    padding-top: 1.5rem
}

.pb3,
.py3 {
    padding-bottom: 1.5rem
}

.pl3,
.px3 {
    padding-left: 1.5rem
}

.pr3,
.px3 {
    padding-right: 1.5rem
}

.p3 {
    padding: 1.5rem
}

.pt4,
.py4 {
    padding-top: 2rem
}

.pb4,
.py4 {
    padding-bottom: 2rem
}

.pl4,
.px4 {
    padding-left: 2rem
}

.pr4,
.px4 {
    padding-right: 2rem
}

.p4 {
    padding: 2rem
}

.col {
    float: left
}

.col,
.col-right {
    box-sizing: border-box
}

.col-right {
    float: right
}

.col-1 {
    width: 8.33333%
}

.col-2 {
    width: 16.66667%
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33333%
}

.col-5 {
    width: 41.66667%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33333%
}

.col-8 {
    width: 66.66667%
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.33333%
}

.col-11 {
    width: 91.66667%
}

.col-12 {
    width: 100%
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (min-width:40.06rem) {

    .sm-col,
    .sm-col-right {
        box-sizing: border-box
    }

    .sm-col {
        float: left
    }

    .sm-col-right {
        float: right
    }

    .sm-col-1 {
        width: 8.33333%
    }

    .sm-col-2 {
        width: 16.66667%
    }

    .sm-col-3 {
        width: 25%
    }

    .sm-col-4 {
        width: 33.33333%
    }

    .sm-col-5 {
        width: 41.66667%
    }

    .sm-col-6 {
        width: 50%
    }

    .sm-col-7 {
        width: 58.33333%
    }

    .sm-col-8 {
        width: 66.66667%
    }

    .sm-col-9 {
        width: 75%
    }

    .sm-col-10 {
        width: 83.33333%
    }

    .sm-col-11 {
        width: 91.66667%
    }

    .sm-col-12 {
        width: 100%
    }

    .sm-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (min-width:52.06rem) {

    .md-col,
    .md-col-right {
        box-sizing: border-box
    }

    .md-col {
        float: left
    }

    .md-col-right {
        float: right
    }

    .md-col-1 {
        width: 8.33333%
    }

    .md-col-2 {
        width: 16.66667%
    }

    .md-col-3 {
        width: 25%
    }

    .md-col-4 {
        width: 33.33333%
    }

    .md-col-5 {
        width: 41.66667%
    }

    .md-col-6 {
        width: 50%
    }

    .md-col-7 {
        width: 58.33333%
    }

    .md-col-8 {
        width: 66.66667%
    }

    .md-col-9 {
        width: 75%
    }

    .md-col-10 {
        width: 83.33333%
    }

    .md-col-11 {
        width: 91.66667%
    }

    .md-col-12 {
        width: 100%
    }

    .md-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (min-width:64.06rem) {

    .lg-col,
    .lg-col-right {
        box-sizing: border-box
    }

    .lg-col {
        float: left
    }

    .lg-col-right {
        float: right
    }

    .lg-col-1 {
        width: 8.33333%
    }

    .lg-col-2 {
        width: 16.66667%
    }

    .lg-col-3 {
        width: 25%
    }

    .lg-col-4 {
        width: 33.33333%
    }

    .lg-col-5 {
        width: 41.66667%
    }

    .lg-col-6 {
        width: 50%
    }

    .lg-col-7 {
        width: 58.33333%
    }

    .lg-col-8 {
        width: 66.66667%
    }

    .lg-col-9 {
        width: 75%
    }

    .lg-col-10 {
        width: 83.33333%
    }

    .lg-col-11 {
        width: 91.66667%
    }

    .lg-col-12 {
        width: 100%
    }

    .lg-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .lg-hide {
        display: none
    }
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.items-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.items-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.items-baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}

.items-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.self-start {
    -ms-flex-item-align: start;
    align-self: flex-start
}

.self-end {
    -ms-flex-item-align: end;
    align-self: flex-end
}

.self-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.self-baseline {
    -ms-flex-item-align: baseline;
    align-self: baseline
}

.self-stretch {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch
}

.justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.content-start {
    -ms-flex-line-pack: start;
    align-content: flex-start
}

.content-end {
    -ms-flex-line-pack: end;
    align-content: flex-end
}

.content-center {
    -ms-flex-line-pack: center;
    align-content: center
}

.content-between {
    -ms-flex-line-pack: justify;
    align-content: space-between
}

.content-around {
    -ms-flex-line-pack: distribute;
    align-content: space-around
}

.content-stretch {
    -ms-flex-line-pack: stretch;
    align-content: stretch
}

.flex-auto {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0
}

.flex-none {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.order-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0
}

.order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

.order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
}

.order-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3
}

.order-last {
    -webkit-box-ordinal-group: 100000;
    -ms-flex-order: 99999;
    order: 99999
}

.absolute {
    position: absolute
}

.fixed {
    position: fixed
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.z1 {
    z-index: 1
}

.z2 {
    z-index: 2
}

.z3 {
    z-index: 3
}

.z4 {
    z-index: 4
}

.border {
    border-style: solid;
    border-width: 1px
}

.border-top {
    border-top-style: solid;
    border-top-width: 1px
}

.border-right {
    border-right-style: solid;
    border-right-width: 1px
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px
}

.border-left {
    border-left-style: solid;
    border-left-width: 1px
}

.border-none {
    border: 0
}

.rounded {
    border-radius: 3px
}

.circle {
    border-radius: 50%
}

.rounded-top {
    border-radius: 3px 3px 0 0
}

.rounded-right {
    border-radius: 0 3px 3px 0
}

.rounded-bottom {
    border-radius: 0 0 3px 3px
}

.rounded-left {
    border-radius: 3px 0 0 3px
}

.not-rounded {
    border-radius: 0
}

.hide {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px)
}

@media (max-width:40rem) {
    .xs-hide {
        display: none
    }
}

@media (min-width:40.06rem) and (max-width:52rem) {
    .sm-hide {
        display: none
    }
}

@media (min-width:52.06rem) and (max-width:64rem) {
    .md-hide {
        display: none
    }
}

.display-none {
    display: none
}

* {
    box-sizing: border-box
}

body {
    background: #fff;
    color: #4a4a4a;
    font-family: Roboto, sans-serif;
    min-width: 315px;
    overflow-x: hidden;
    font-smooth: always;
    -webkit-font-smoothing: antialiased
}

main {
    max-width: 700px;
    margin: 0 auto
}

p {
    margin: 1.5rem
}

amp-carousel .ampstart-image-with-caption,
amp-carousel .ampstart-image-with-heading {
    margin-bottom: 0
}

.mt3 {
    margin-top: 1.5rem
}

.ampstart-accent {
    color: #fff
}

#content:target {
    margin-top: calc(0px - 3.5rem);
    padding-top: 3.5rem
}

.ampstart-title-lg {
    font-size: 2.25rem;
    line-height: 1.11111;
    letter-spacing: .06rem
}

.ampstart-title-md {
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: .06rem
}

.ampstart-title-sm {
    font-size: .6875rem;
    line-height: 1.81818;
    letter-spacing: .06rem
}

.ampstart-subtitle,
body {
    line-height: 2.0625;
    letter-spacing: normal
}

.ampstart-subtitle {
    color: #fff;
    font-size: 1rem
}

.ampstart-byline,
.ampstart-caption,
.ampstart-hint,
.ampstart-label {
    font-size: .875rem;
    color: #4f4f4f;
    line-height: 1.42857;
    letter-spacing: .06rem
}

.ampstart-footer,
.ampstart-small-text {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: .06rem
}

.ampstart-btn,
.ampstart-btn-secondary {
    font-size: 1rem;
    line-height: 1.42857;
    padding: .7em .8em;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none
}

.ampstart-card {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 1px -1px rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

a,
a:active,
a:visited {
    color: inherit
}

.ampstart-btn,
.ampstart-btn:visited {
    background-color: #000;
    color: #fff
}

.ampstart-btn {
    font-family: inherit;
    font-weight: inherit;
    border: 1px solid red
}

.ampstart-btn-secondary {
    background-color: #fff;
    color: #030202;
    border: 1px solid #484848
}

.ampstart-btn-secondary:visited {
    color: #040404
}

.ampstart-btn:active .ampstart-btn:focus {
    opacity: .8
}

.ampstart-btn[disabled],
.ampstart-btn[disabled]:active,
.ampstart-btn[disabled]:focus,
.ampstart-btn[disabled]:hover {
    opacity: .5;
    outline: 0;
    cursor: default
}

.ampstart-dropcap:first-letter {
    color: #fff;
    font-size: 2.25rem;
    font-weight: 700;
    float: left;
    overflow: hidden;
    line-height: 2.25rem;
    margin-left: 0;
    margin-right: .5rem
}

.ampstart-initialcap {
    padding-top: 1rem;
    margin-top: 1.5rem
}

.ampstart-initialcap:first-letter {
    color: #fff;
    font-size: 2.25rem;
    font-weight: 700;
    margin-left: -2px
}

.ampstart-pullquote {
    border: none;
    border-left: 4px solid #fff;
    font-size: .6875rem;
    padding-left: 1.5rem
}

.ampstart-byline time {
    font-style: normal;
    white-space: nowrap
}

.amp-carousel-button-next {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Next</title><path d="M25.557 14.7L13.818 2.961 16.8 0l16.8 16.8-16.8 16.8-2.961-2.961L25.557 18.9H0v-4.2z" fill="#FFF" fill-rule="evenodd"/></svg>')
}

.amp-carousel-button-prev {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Previous</title><path d="M33.6 14.7H8.043L19.782 2.961 16.8 0 0 16.8l16.8 16.8 2.961-2.961L8.043 18.9H33.6z" fill="#FFF" fill-rule="evenodd"/></svg>')
}

.ampstart-dropdown {
    min-width: 200px
}

.ampstart-dropdown.absolute {
    z-index: 100
}

.ampstart-dropdown.absolute>section,
.ampstart-dropdown.absolute>section>header {
    height: 100%
}

.ampstart-dropdown>section>header {
    background-color: #fff;
    border: 0;
    color: #000
}

.ampstart-dropdown>section>header:after {
    display: inline-block;
    content: "+";
    padding: 0 0 0 1.5rem;
    color: #fff
}

.ampstart-dropdown>[expanded]>header:after {
    content: "–"
}

.absolute .ampstart-dropdown-items {
    z-index: 200
}

.ampstart-dropdown-item {
    background-color: #fff;
    color: #fff;
    opacity: .9
}

.ampstart-dropdown-item:active,
.ampstart-dropdown-item:hover {
    opacity: 1
}

.ampstart-footer {
    background-color: #fff;
    color: #000;
    padding-top: 5rem;
    padding-bottom: 5rem
}

.ampstart-footer .ampstart-icon {
    fill: #000
}

.ampstart-footer .ampstart-social-follow li:last-child {
    margin-right: 0
}

.ampstart-image-fullpage-hero {
    color: #000
}

.ampstart-fullpage-hero-heading-text,
.ampstart-image-fullpage-hero .ampstart-image-credit {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background: #fff;
    padding: 0 1rem .2rem
}

.ampstart-image-fullpage-hero>amp-img {
    max-height: calc(100vh - 3.5rem)
}

.ampstart-image-fullpage-hero>amp-img img {
    -o-object-fit: cover;
    object-fit: cover
}

.ampstart-fullpage-hero-heading {
    line-height: 3.5rem
}

.ampstart-fullpage-hero-cta {
    background: 0 0
}

.ampstart-readmore {
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .65), transparent);
    background: linear-gradient(0deg, rgba(0, 0, 0, .65) 0, transparent);
    color: #000;
    margin-top: 5rem;
    padding-bottom: 3.5rem
}

.ampstart-readmore:after {
    display: block;
    content: "⌄";
    font-size: 1.25rem
}

.ampstart-input input[type=checkbox]+label:after,
.ampstart-input input[type=radio]+label:after,
.ampstart-input>input[type=range]+label:after {
    display: none
}

.ampstart-readmore-text {
    background: #fff
}

@media (min-width:52.06rem) {
    .ampstart-image-fullpage-hero>amp-img {
        height: 60vh
    }
}

.ampstart-image-heading {
    color: #000;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .65), transparent);
    background: linear-gradient(0deg, rgba(0, 0, 0, .65) 0, transparent)
}

.ampstart-image-heading>* {
    margin: 0
}

.ampstart-image-with-caption figcaption {
    color: #4f4f4f;
    line-height: 1.42857
}

.ampstart-input {
    max-width: 100%;
    width: 300px;
    min-width: 100px;
    font-size: 1rem;
    line-height: 2.0625
}

.ampstart-input [disabled],
.ampstart-input [disabled]+label {
    opacity: .5
}

.ampstart-input [disabled]:focus {
    outline: 0
}

.ampstart-input>input,
.ampstart-input>select,
.ampstart-input>textarea {
    width: 100%;
    margin-top: 1rem;
    line-height: 2.0625;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #4a4a4a;
    background: 0 0;
    color: #4a4a4a;
    outline: 0
}

.ampstart-input>label {
    color: #fff;
    pointer-events: none;
    text-align: left;
    font-size: .875rem;
    line-height: 1rem;
    opacity: 0;
    -webkit-animation: .2s;
    animation: .2s;
    -webkit-animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.ampstart-input>input:focus,
.ampstart-input>select:focus,
.ampstart-input>textarea:focus {
    outline: 0
}

.ampstart-input>input:focus::-webkit-input-placeholder,
.ampstart-input>select:focus::-webkit-input-placeholder,
.ampstart-input>textarea:focus::-webkit-input-placeholder {
    color: transparent
}

.ampstart-input>input:focus::-moz-placeholder,
.ampstart-input>select:focus::-moz-placeholder,
.ampstart-input>textarea:focus::-moz-placeholder {
    color: transparent
}

.ampstart-input>input:focus:-ms-input-placeholder,
.ampstart-input>select:focus:-ms-input-placeholder,
.ampstart-input>textarea:focus:-ms-input-placeholder {
    color: transparent
}

.ampstart-input>input:focus::placeholder,
.ampstart-input>select:focus::placeholder,
.ampstart-input>textarea:focus::placeholder {
    color: transparent
}

.ampstart-input>input:not(:placeholder-shown):not([disabled])+label,
.ampstart-input>select:not(:placeholder-shown):not([disabled])+label,
.ampstart-input>textarea:not(:placeholder-shown):not([disabled])+label {
    opacity: 1
}

.ampstart-input>input:focus+label,
.ampstart-input>select:focus+label,
.ampstart-input>textarea:focus+label {
    -webkit-animation-name: a;
    animation-name: a
}

@-webkit-keyframes a {
    to {
        opacity: 1
    }
}

@keyframes a {
    to {
        opacity: 1
    }
}

.ampstart-input>label:after {
    content: "";
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 45%;
    background: #fff;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    visibility: hidden;
    width: 10px
}

.ampstart-input>input:focus+label:after,
.ampstart-input>select:focus+label:after,
.ampstart-input>textarea:focus+label:after {
    left: 0;
    width: 100%;
    visibility: visible
}

.ampstart-input>input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.ampstart-input>input[type=range] {
    border-bottom: 0
}

.ampstart-input>select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.ampstart-input>select+label:before {
    content: "⌄";
    line-height: 2.0625;
    position: absolute;
    right: 5px;
    zoom: 2;
    top: 0;
    bottom: 0;
    color: #fff
}

.ampstart-input-chk,
.ampstart-input-radio {
    width: auto;
    color: #4a4a4a
}

.ampstart-input input[type=checkbox],
.ampstart-input input[type=radio] {
    margin-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    vertical-align: middle;
    margin-right: .5rem;
    text-align: center
}

.ampstart-input input[type=radio] {
    border-radius: 20px
}

.ampstart-input input[type=checkbox]:not([disabled])+label,
.ampstart-input input[type=radio]:not([disabled])+label {
    pointer-events: auto;
    -webkit-animation: none;
    animation: none;
    vertical-align: middle;
    opacity: 1;
    cursor: pointer
}

.ampstart-input input[type=checkbox]:after,
.ampstart-input input[type=radio]:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
    line-height: 1.4rem;
    vertical-align: middle;
    text-align: center;
    background-color: #000
}

.ampstart-input input[type=checkbox]:checked:after {
    background-color: #fff;
    color: #000;
    content: "✓"
}

.ampstart-input input[type=radio]:checked {
    background-color: #000
}

.ampstart-input input[type=radio]:after {
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    border-radius: 12px
}

.ampstart-input input[type=radio]:checked:after {
    content: "";
    font-size: 2.25rem;
    background-color: #fff
}

.ampstart-input>label,
_:-ms-lang(x) {
    opacity: 1
}

.ampstart-input>input:-ms-input-placeholder,
_:-ms-lang(x) {
    color: transparent
}

.ampstart-input>input::placeholder,
_:-ms-lang(x) {
    color: transparent
}

.ampstart-input>input::-ms-input-placeholder,
_:-ms-lang(x) {
    color: transparent
}

.ampstart-input>select::-ms-expand {
    display: none
}

.ampstart-headerbar {
    background-color: #000;
    color: #fff;
    z-index: 999;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1)
}

.ampstart-headerbar+:not(amp-sidebar),
.ampstart-headerbar+amp-sidebar+* {
    margin-top: 3.5rem
}

.ampstart-headerbar-nav .ampstart-nav-item {
    padding: 0 1rem;
    background: 0 0;
    opacity: .8
}

.ampstart-headerbar-nav {
    line-height: 3.5rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.ampstart-nav-item:active,
.ampstart-nav-item:focus,
.ampstart-nav-item:hover {
    opacity: 1
}

.ampstart-navbar-trigger:focus {
    outline: 0
}

.ampstart-nav a,
.ampstart-navbar-trigger,
.ampstart-sidebar-faq a {
    cursor: pointer;
    text-decoration: none
}

.ampstart-navbar-trigger {
    line-height: 3.5rem;
    font-size: 1.25rem
}

.ampstart-nav-search {
    -webkit-box-flex: .5;
    -ms-flex-positive: .5;
    flex-grow: .5
}

.ampstart-headerbar .ampstart-nav-search:active,
.ampstart-headerbar .ampstart-nav-search:focus,
.ampstart-headerbar .ampstart-nav-search:hover {
    box-shadow: none
}

.ampstart-nav-search>input {
    border: none;
    border-radius: 3px;
    line-height: normal
}

.ampstart-nav-dropdown {
    min-width: 200px
}

.ampstart-nav-dropdown amp-accordion header {
    background-color: #000;
    border: none
}

.ampstart-nav-dropdown amp-accordion ul {
    background-color: #000
}

.ampstart-nav-dropdown .ampstart-dropdown-item,
.ampstart-nav-dropdown .ampstart-dropdown>section>header {
    background-color: #000;
    color: #fff
}

.ampstart-nav-dropdown .ampstart-dropdown-item {
    color: #fff
}

.ampstart-sidebar {
    background-color: #000;
    color: #fff;
    min-width: 300px;
    width: 300px
}

.float-b,
.float-t {
    position: fixed;
    width: 45px;
    height: 45px;
    right: 25px
}

.ampstart-sidebar .ampstart-icon {
    fill: #fff
}

.ampstart-sidebar-header {
    line-height: 3.5rem;
    min-height: 3.5rem
}

.ampstart-sidebar .ampstart-dropdown header,
.ampstart-sidebar .ampstart-dropdown-item,
.ampstart-sidebar .ampstart-faq-item,
.ampstart-sidebar .ampstart-nav-item,
.ampstart-sidebar .ampstart-social-follow {
    margin: 0 0 2rem
}

.ampstart-sidebar .ampstart-nav-dropdown {
    margin: 0
}

.ampstart-sidebar .ampstart-navbar-trigger {
    line-height: inherit
}

.ampstart-navbar-trigger svg {
    pointer-events: none
}

.ampstart-related-article-section {
    border-color: #4a4a4a
}

.brionzlogo {
    color: red
}

.float-b {
    bottom: 25px;
    background-color: rgba(46, 252, 0, .43);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999
}

.mf {
    margin-top: 22px
}

.float-t {
    top: 99px
}

.zhadow {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)
}

amp-img {
    box-shadow: 0 3px 5px -1px rgba(3, 129, 98, 0.2), 0 6px 10px 0 rgba(61, 239, 252, 0.14), 0 1px 18px 0 rgba(72, 131, 102, 0.12)
}

.stellar {
    background: #7474bf;
    background: -webkit-linear-gradient(to right, #348ac7, #7474bf);
    background: linear-gradient(to right, #348ac7, #7474bf)
}
