<ul class="list-reset m0 p0 ampstart-label">
    <li class="ampstart-nav-item ampstart-nav-dropdown relative ">
        <amp-accordion layout="container" disable-session-states="" class="ampstart-dropdown">
            <section>
                <header>Portfolio</header>
                <ul class="ampstart-dropdown-items list-reset m0 p0">
                    <li class="ampstart-dropdown-item"><a href="#" class="text-decoration-none">Angular</a></li>
                    <li class="ampstart-dropdown-item"><a href="#" class="text-decoration-none">Logo</a></li>
                    <li class="ampstart-dropdown-item"><a href="#" class="text-decoration-none">React</a></li>
                </ul>
            </section>
        </amp-accordion>
    </li>
</ul>