<aside class="mt4">

    <!-- Start Socialbox -->
    <div class="ampstart-social-box mb4">
        <amp-social-share type="twitter" aria-label="Share this on Twitter"></amp-social-share>
        <amp-social-share type="facebook" aria-label="Share this on Facebook" data-param-text="Hello world" data-param-href="https://example.com/?ref=URL"
            data-param-app_id="145634995501895"></amp-social-share>
        <amp-social-share type="gplus" aria-label="Share this on Google Plus"></amp-social-share>
        <amp-social-share type="pinterest" aria-label="Share this on pin trest"></amp-social-share>
        <amp-social-share type="email" aria-label="Share this with E-mail" data-param-subject="Hello World" data-param-body="What's up?"></amp-social-share>
    </div>
    <!-- End Socialbox -->

    <h2 class="m3 mb4 pb4 caps bold center h3">Artikel Terkait</h2>
{{ range first 3 (where .Site.Pages "Type" "post") }}
    <article class="ampstart-article-summary m0 relative mt3">
            <a href="{{ .Permalink }}">
            <amp-img width="360" height="400" layout="responsive" src="{{ if eq .Params.image "" }}https://source.unsplash.com/random/80x80{{else}}{{ .Params.image }}{{end}}" data-src="{{ if eq .Params.image "" }}https://source.unsplash.com/random/80x80{{else}}{{ .Params.image }}{{end}}"></amp-img>
            <header class="absolute bottom-0 right-0 left-0 center m3 p3">
                <h3 class="caps bold">{{ .Title}}</h3>
                <h4 class="m3 center h4 italic">{{ .Description }}</h4>
                <p class="h4 bold">{{ .Date.Format "2 Jan,2006" }}</p>
            </header>
        </a>
    </article>{{ end }}

</aside>