<div class="center">
    <a href='/whatsapp' class='ampstart-btn mr3 mb3'>
        KONSULTASI
    </a>
    <a href='/biaya-layanan' class='ampstart-btn-secondary'>
        BIAYA LAYANAN
    </a>
</div>